<div class="container-fluid" style="margin-top: 8%; padding: 0 10% 0 10%">

  <section>
    <br>
    <div class="row">
      <div class="col-md-8">
        <h2> Reportes - Solicitudes de Salas</h2>
      </div>
      <div class="col-md-4">
        <button type="button" class="btn btn-secundary" style="float:right;margin-right:5px"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></button>
        <button type="button" class="btn btn-secundary" style="float:right;margin-right:5px"><i class="fa fa-print" aria-hidden="true"></i></button>
        <button type="button" class="btn btn-secundary" style="float:right;margin-right:5px"><i class="fa fa-download" aria-hidden="true"></i></button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <hr>
      </div>
    </div>

    <div class="row">
      <hr>
      <div class="col-md-2">
        <div class="form-group">
          <div class="input-group">
            <input class="form-control" placeholder="Vehículo" name="Sala" [(ngModel)]="salaFiltro" #vehiculo [disabled]="true" required>
            <button class="input-group-addon" type="button">
                            <i class="fa fa-users" aria-hidden="true"></i>
                        </button>
          </div>
        </div>

      </div>

      <div class="col-md-2">

        <div class="form-group">
          <div class="input-group">
            <input class="form-control" placeholder="Inicia" name="dI" [(ngModel)]="modelFechaInicio" ngbDatepicker #dI="ngbDatepicker"
              [disabled]="true" required>
            <button class="input-group-addon" (click)="dI.toggle()" type="button">
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                        </button>
          </div>
        </div>
      </div>
      <div class="col-md-1">
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <div class="input-group">
            <input class="form-control" placeholder="Termina" name="dF" [(ngModel)]="modelFechaFinal" ngbDatepicker #dF="ngbDatepicker"
              [disabled]="true" required>
            <button class="input-group-addon" (click)="dF.toggle()" type="button">
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                        </button>
          </div>
        </div>
      </div>

      <div class="col-md-2">
        <div class="form-group">
          <div class="btn-group">
            <button type="button" class="btn btn-secundary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Solicitante
               </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="javascript:void(0);" *ngFor="let usuario of usuarios">{{usuario.nombre}}</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-2">
        <div class="form-group">
          <div class="btn-group">
            <button type="button" class="btn btn-secundary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Departamento
                   </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="javascript:void(0);" *ngFor="let departamento of departamentos">{{departamento.nombre}}</a>
            </div>
          </div>
        </div>

      </div>

      <div class="col-md-1">
        <div class="form-group">
          <button type="button" class="btn btn-success"><i class="fa fa-search" aria-hidden="true"></i></button>
        </div>
      </div>

    </div>
    <br>
    <div class="col-md-12">
      <div class="row" style="text-align: center">
        <table class="table">
          <thead class="thead-default">
            <tr>
              <th class="th-color"><i class="fa fa-list-ol" aria-hidden="true"></i></th>
              <th class="th-color">Sala<a (click)="ordenarSolicitudesSala('Fecha')"> <i class="fa fa-sort" aria-hidden="true"></i></a></th>
              <th class="th-color">Solicitante<a (click)="ordenarSolicitudesSala('Horario')"> <i class="fa fa-sort" aria-hidden="true"></i></a></th>
              <th class="th-color">Fecha<a (click)="ordenarSolicitudesSala('Sala')"> <i class="fa fa-sort" aria-hidden="true"></i></a></th>
              <th class="th-color">Motivo <a (click)="ordenarSolicitudesSala('Motivo')"> <i class="fa fa-sort" aria-hidden="true"></i></a></th>
            </tr>
          </thead>
          <tbody style="font-family: 'Times New Roman', Times, serif">
            <tr *ngFor="let sala of solicitudSalas | paginate: {itemsPerPage:5, currentPage: p} let i = index">
              <th scope="row">{{i+1}}</th>
              <th>{{sala.fecha.day}}/{{sala.fecha.month}}/{{sala.fecha.year}}</th>
              <th>{{sala.horaInicio.hour}}:{{sala.horaInicio.minute}} - {{sala.horaFin.hour}}: {{sala.horaFin.minute}}</th>
              <th>{{sala.sala}}</th>
              <th>{{sala.descripcion}}</th>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- <hr *ngIf='solicitudSalas ==undefined || solicitudSalas.length>0'>
      <h5 *ngIf='solicitudSalas ==undefined || solicitudSalas.length==0'>No existen solicitudes de salas registradas en el sistema.<br></h5>
      <hr *ngIf='solicitudSalas ==undefined || solicitudSalas.length==0'> -->
    </div>
    <!-- paginador-->

    <pagination-controls (pageChange)="p =$event">

    </pagination-controls>


  </section>


  <section>
    <br>
    <div class="row">
        <div class="col-md-8">
          <h2> Reportes - Solicitudes de Vehículos</h2>
        </div>
        <div class="col-md-4" >
          <button type="button" class="btn btn-secundary" style="float:right;margin-right:5px"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></button>
          <button type="button" class="btn btn-secundary" style="float:right;margin-right:5px" ><i class="fa fa-print" aria-hidden="true"></i></button>
          <button type="button" class="btn btn-secundary" style="float:right;margin-right:5px"><i class="fa fa-download" aria-hidden="true"></i></button>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <hr>
        </div>
      </div>

    <div class="row">
      <hr>
      <div class="col-md-2">
        <div class="form-group">
          <div class="input-group">
            <input class="form-control" placeholder="Vehículo" name="vehiculo" [(ngModel)]="vehiculoFiltro" #vehiculo [disabled]="true"
              required>
            <button class="input-group-addon" type="button">
                              <i class="fa fa-car" aria-hidden="true"></i>
                          </button>
          </div>
        </div>

      </div>

      <div class="col-md-2">

        <div class="form-group">
          <div class="input-group">
            <input class="form-control" placeholder="Inicia" name="dI" [(ngModel)]="modelFechaInicio" ngbDatepicker #dI="ngbDatepicker"
              [disabled]="true" required>
            <button class="input-group-addon" (click)="dI.toggle()" type="button">
                              <i class="fa fa-calendar" aria-hidden="true"></i>
                          </button>
          </div>
        </div>
      </div>

      <div class="col-md-1">
      </div>

      <div class="col-md-2">
        <div class="form-group">
          <div class="input-group">
            <input class="form-control" placeholder="Termina" name="dF" [(ngModel)]="modelFechaFinal" ngbDatepicker #dF="ngbDatepicker"
              [disabled]="true" required>
            <button class="input-group-addon" (click)="dF.toggle()" type="button">
                              <i class="fa fa-calendar" aria-hidden="true"></i>
                          </button>
          </div>
        </div>
      </div>

      <div class="col-md-2">
        <div class="form-group">
          <div class="btn-group">
            <button type="button" class="btn btn-secundary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Solicitante
                 </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="javascript:void(0);" *ngFor="let usuario of usuarios">{{usuario.nombre}}</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-2">
        <div class="form-group">
          <div class="btn-group">
            <button type="button" class="btn btn-secundary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Departamento
                     </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="javascript:void(0);" *ngFor="let departamento of departamentos">{{departamento.nombre}}</a>
            </div>
          </div>
        </div>

      </div>

      <div class="col-md-1">
        <div class="form-group">
          <button type="button" class="btn btn-success"><i class="fa fa-search" aria-hidden="true"></i></button>
        </div>
      </div>

    </div>
    <br>
    <div class="col-md-12">
      <div class="row" style="text-align: center">
        <table class="table">
          <thead class="thead-default">
            <tr>
              <th class="th-color"><i class="fa fa-list-ol" aria-hidden="true"></i></th>
              <th class="th-color">Placa<a (click)="ordenarSolicitudesSala('Fecha')"> <i class="fa fa-sort" aria-hidden="true"></i></a></th>
              <th class="th-color">Tipo<a (click)="ordenarSolicitudesSala('Horario')"> <i class="fa fa-sort" aria-hidden="true"></i></a></th>
              <th class="th-color">Marca<a (click)="ordenarSolicitudesSala('Sala')"> <i class="fa fa-sort" aria-hidden="true"></i></a></th>
              <th class="th-color">Solicitante <a (click)="ordenarSolicitudesSala('Motivo')"> <i class="fa fa-sort" aria-hidden="true"></i></a></th>
              <th class="th-color">Fecha <a (click)="ordenarSolicitudesSala('Motivo')"> <i class="fa fa-sort" aria-hidden="true"></i></a></th>
              <th class="th-color">Destino <a (click)="ordenarSolicitudesSala('Motivo')"> <i class="fa fa-sort" aria-hidden="true"></i></a></th>
            </tr>
          </thead>
          <tbody style="font-family: 'Times New Roman', Times, serif">
            <tr *ngFor="let sala of solicitudSalas | paginate: {itemsPerPage:5, currentPage: p} let i = index">
              <th scope="row">{{i+1}}</th>
              <th>{{sala.fecha.day}}/{{sala.fecha.month}}/{{sala.fecha.year}}</th>
              <th>{{sala.horaInicio.hour}}:{{sala.horaInicio.minute}} - {{sala.horaFin.hour}}: {{sala.horaFin.minute}}</th>
              <th>{{sala.sala}}</th>
              <th>{{sala.descripcion}}</th>
              <th>{{sala.sala}}</th>
              <th>{{sala.descripcion}}</th>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- <hr *ngIf='solicitudSalas ==undefined || solicitudSalas.length>0'>
        <h5 *ngIf='solicitudSalas ==undefined || solicitudSalas.length==0'>No existen solicitudes de salas registradas en el sistema.<br></h5>
        <hr *ngIf='solicitudSalas ==undefined || solicitudSalas.length==0'> -->
    </div>
    <!-- paginador-->

    <pagination-controls (pageChange)="p =$event">

    </pagination-controls>


  </section>

  <!-- <div class="row" style="text-align: center">
        <div class="col-md-12">
          <h2> Reportes</h2>
        </div>
  
      </div>
      <br> -->

  <!-- <div class="row" >
    <h2>Reportes</h2>
      <div class="col-md-3" style="margin-left: 40%">
        <div class="panel with-nav-tabs panel-primary">
          <div class="panel-heading">
            <ul class="nav nav-pills nav-fill nav-tabs">
  
              <li class="nav-item">
                <a  id="bnt-sala" class="nav-link active" href="#tab1primary" data-toggle="tab" (click)="solicitud(1)" >Tabulares</a>
              </li>
              <li class="nav-item">
                <a id="bnt-vehiculo" class="nav-link" href="#tab2primary" data-toggle="tab" (click)="solicitud(2)">Gráficas</a>
              </li>
            </ul>
          </div>
          <div class="panel-body">
            <div class="tab-content">
              <div class="tab-pane fade in active" id="tab1primary">
              </div>
              <div class="tab-pane fade" id="tab2primary"></div>
            </div>
          </div>
        </div>
      </div>
  
    </div>
<hr>
<br>


  <div>
    <div style="display: block">
      <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend"
        [chartType]="barChartType" (chartHover)="chartHoveredBar($event)" (chartClick)="chartClickedBar($event)"></canvas>
    </div>
    <button (click)="randomize()">Update</button>
  </div>
  <br>
  <br>

  <div class="row">
      <div class="col-md-6">
        <div style="display: block;">
          <canvas baseChart width="400" height="400" [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions"
            [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType" (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"></canvas>
        </div>
      </div>
      <div class="col-md-6" style="margin-bottom: 10px">
        <table class="table table-responsive table-condensed">
          <tr>
            <th *ngFor="let label of lineChartLabels">{{label}}</th>
          </tr>
          <tr *ngFor="let d of lineChartData">
            <td *ngFor="let label of lineChartLabels; let j=index">{{d && d.data[j]}}</td>
          </tr>
        </table>
        <button (click)="randomize()">CLICK</button>
      </div>
    </div>
    <br>
    <br>
  


  <div style="display: block">
    <canvas baseChart [data]="doughnutChartData" [labels]="doughnutChartLabels" [chartType]="doughnutChartType" (chartHover)="chartHoveredDo($event)"
      (chartClick)="chartClickedDo($event)"></canvas>
  </div>

  <br>
  <br>

  <div style="display: block">
    <canvas baseChart [datasets]="radarChartData" [labels]="radarChartLabels" [chartType]="radarChartType" (chartHover)="chartHoveredRa($event)"
      (chartClick)="chartClickedRa($event)"></canvas>
  </div>

  <br>
  <br>
  <div style="display: block">
    <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType" (chartHover)="chartHoveredPi($event)"
      (chartClick)="chartClickedPi($event)"></canvas>
  </div> -->
</div>