button{
    cursor:pointer;
}

.table tbody tr.highlight td {
    background-color: #ddd;
  }
:disabled{
    cursor: not-allowed;
}


table{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif; 
    font-size: 1rem; 
  }
  
  tr{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif; 
    font-size: 1rem; 
  }
  a{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif; 
    font-size: 1rem; 
  }


pagination-controls{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif; 
    font-size: 1rem; 
}
 footer{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif; 
    font-size: 1.2rem; 
}
footer {
text-align: center;
margin-top: 20%;
position: fixed;
bottom: 0;
width: 100%;
height: 60px;
padding-bottom: 16px;
background: #343a40;
z-index:2000;
color: #ffffff;


}  

body{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif; 
    font-size: 1rem; 
}

.btn-modal-can{
	color: #0082c8
}
.btn-modal-can:hover{
	background: orangered;
	color: #ffffff;
	cursor: pointer;
}