<section id="portfolio" style="margin-top: 5%">
    <div class="container">
      <h2 class="text-center">Opciones de Administrador</h2>
      <br>
      <hr class="star-primary">
      <br>
      <div class="row" style="text-align: center">
        <div class="col-sm-4 portfolio-item" >
          <h3>Salas</h3>
          <a class="portfolio-link" href="#portfolioModal1" data-toggle="modal"  routerLink="/admSala" routerLinkActive="actived">
            <div class="caption">
              <div class="caption-content">
                <i class="fa fa-search-plus fa-5x"></i>
              </div>
            </div>
            <img class="img-fluid" src="assets/img/imgOpAdmin/salas.jpg" alt="">
          </a>
        </div>
        <div class="col-sm-4 portfolio-item">
            <h3>Vehiculos</h3>
          <a class="portfolio-link" href="#portfolioModal2" data-toggle="modal" routerLink="/admVehiculo" routerLinkActive="actived">
            <div class="caption">
              <div class="caption-content">
                <i class="fa fa-search-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="assets/img/imgOpAdmin/vehiculos.jpg" alt="">
          </a>
        </div>
        <div class="col-sm-4 portfolio-item">
            <h3>Departamentos</h3>
          <a class="portfolio-link" href="#portfolioModal3" data-toggle="modal" routerLink="/admDepartamento" routerLinkActive="actived">
            <div class="caption">
              <div class="caption-content">
                <i class="fa fa-search-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="assets/img/imgOpAdmin/departamento.jpg" alt="">
          </a>
        </div>
        <div class="col-sm-4 portfolio-item">
            <h3>Usuarios</h3>
          <a class="portfolio-link" href="#portfolioModal4" data-toggle="modal" routerLink="/admUsuario" routerLinkActive="actived">
            <div class="caption">
              <div class="caption-content">
                <i class="fa fa-search-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="assets/img/imgOpAdmin/usuario.jpg" alt="">
          </a>
        </div>
        <div class="col-sm-4 portfolio-item">
            <h3>Recursos</h3>
          <a class="portfolio-link" href="#portfolioModal5" data-toggle="modal" routerLink="/admRecurso" routerLinkActive="actived">
            <div class="caption">
              <div class="caption-content">
                <i class="fa fa-search-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="assets/img/imgOpAdmin/rescursos.jpg" alt="">
          </a>
        </div>
        <div class="col-sm-4 portfolio-item">
            <h3>Solicitudes</h3>
          <a class="portfolio-link" href="#portfolioModal6" data-toggle="modal" routerLink="/admSolicitud" routerLinkActive="actived">
            <div class="caption">
              <div class="caption-content">
                <i class="fa fa-search-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="assets/img/imgOpAdmin/solicitudes.jpg" alt="">
          </a>
        </div>
      </div>
    </div>
  </section>