  <section>
  <div class="row" style="margin-top: 6%; text-align: center">
    <div class="col-md-12">
      <ol class="breadcrumb">
        <li>
          <H2>Opciones de Administrador</H2>
        </li>
      </ol>
    </div>
  </div>
</section>

  <section class="margenAdmin" id="portfolio" >
    <div class="container-fluid">
        <div class="row no-gutter popup-gallery">
            <div class="col-lg-4 col-sm-6 opcionesAdmin">
                <a routerLink="/admSala" routerLinkActive="actived" class="portfolio-box">
                  <img class="img-responsive imgsAdmin" src="assets/img/imgOpAdmin/salas.jpg" alt="">
                   <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                             Salas
                            </div>
                            <div class="project-name">
                            Mantenimientos de Salas
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6 opcionesAdmin">
              <a routerLink="/admVehiculo" routerLinkActive="actived" class="portfolio-box">
                <img class="img-responsive imgsAdmin" src="assets/img/imgOpAdmin/vehiculos.jpg" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                VEHÍCULOS
                            </div>
                            <div class="project-name">
                               Mantenimiento de Vehículos
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6 opcionesAdmin">
              <a routerLink="/admDepartamento" routerLinkActive="actived" class="portfolio-box">
                <img class="img-responsive imgsAdmin" src="assets/img/imgOpAdmin/departamento.jpg" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                DEPARTAMENTOS
                            </div>
                            <div class="project-name">
                                Mantenimientos de Departamentos
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6 opcionesAdmin">
              <a routerLink="/admUsuario" routerLinkActive="actived" class="portfolio-box">
                <img class="img-responsive imgsAdmin" src="assets/img/imgOpAdmin/usuario.jpg" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                USUARIOS
                            </div>
                            <div class="project-name">
                                Mantenimiento de Usuarios
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6 opcionesAdmin">
              <a routerLink="/admRecurso" routerLinkActive="actived" class="portfolio-box">
                <img class="img-responsive imgsAdmin" src="assets/img/imgOpAdmin/rescursos.jpg" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                RECURSOS
                            </div>
                            <div class="project-name">
                                Mantenimiento de Recursos
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6 opcionesAdmin">
              <a routerLink="/admSolicitud" routerLinkActive="actived" class="portfolio-box">
                <img class="img-responsive imgsAdmin" src="assets/img/imgOpAdmin/solicitudes.jpg" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                               SOLICITUD
                            </div>
                            <div class="project-name">
                                Manteniento de Solicitudes
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

<footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">&copy; Coopesparta R.L.</p>
  </div>
</footer>