<div class="container" style="margin-top: 8%; padding: 0 10% 0 10%">
    
      <div class="row" style="text-align: center">
        <div class="col-md-12">
          <h2> Admistración de Vehiculos</h2>
          <hr>
          <button class="btn btn-primary" style="float: left;margin-bottom: 6px"> <i class="fa fa-plus" aria-hidden="true"></i></button>
        </div>
        
      </div>
    
      <div class="col-md-12">
        <div class="row" style="text-align: center ;margin-bottom: 10%">
          <table class="table">
            <thead class="thead-default">
              <tr>
                <th class="th-color">#</th>
                <th class="th-color">Nombre</th>
                <th class="th-color">Cupo</th>
                <th class="th-color">Descripción</th>
                <th class="th-color">Estado</th>
                <th class="th-color">Mensaje de Estado</th>
                <th class="th-color" style="text-align: center">Acciones</th>
              </tr>
            </thead>
            <tbody style="font-family: 'Times New Roman', Times, serif">
              <tr>
                <th scope="row">1</th>
                <th>Mark</th>
                <th>Otto</th>
                <th>@mdo</th>
                <th>Otto</th>
                <th>Otto</th>
                <th style="text-align: center">
                  <button class="btn btn-primary btn-accion"><i class="fa fa-pencil" aria-hidden="true"></i> </button>
                  <button class="btn btn-danger btn-accion"><i class="fa fa-trash-o" aria-hidden="true"></i> </button>
                </th>
              </tr>
              <tr>
                <th scope="row">2</th>
                <th>Jacob</th>
                <th>Thornton</th>
                <th>@fat</th>
                <th>Thornton</th>
                <th>Otto</th>
                <th style="text-align: center">
                  <button class="btn btn-primary btn-accion"><i class="fa fa-pencil" aria-hidden="true"></i> </button>
                  <button class="btn btn-danger btn-accion"><i class="fa fa-trash-o" aria-hidden="true"></i> </button>
                </th>
              </tr>
              <tr>
                <th scope="row">2</th>
                <th>Jacob</th>
                <th>Thornton</th>
                <th>@fat</th>
                <th>Thornton</th>
                <th>Otto</th>
                <th style="text-align: center">
                  <button class="btn btn-primary btn-accion"><i class="fa fa-pencil" aria-hidden="true"></i> </button>
                  <button class="btn btn-danger btn-accion"><i class="fa fa-trash-o" aria-hidden="true"></i> </button>
                </th>
              </tr>
              <tr>
                <th scope="row">2</th>
                <th>Jacob</th>
                <th>Thornton</th>
                <th>@fat</th>
                <th>Thornton</th>
                <th>Otto</th>
                <th style="text-align: center">
                  <button class="btn btn-primary btn-accion"><i class="fa fa-pencil" aria-hidden="true"></i> </button>
                  <button class="btn btn-danger btn-accion"><i class="fa fa-trash-o" aria-hidden="true"></i> </button>
                </th>
              </tr>
              <tr>
                <th scope="row">2</th>
                <th>Jacob</th>
                <th>Thornton</th>
                <th>@fat</th>
                <th>Thornton</th>
                <th>Otto</th>
                <th style="text-align: center">
                  <button class="btn btn-primary btn-accion"><i class="fa fa-pencil" aria-hidden="true"></i> </button>
                  <button class="btn btn-danger btn-accion"><i class="fa fa-trash-o" aria-hidden="true"></i> </button>
                </th>
              </tr>
              <tr>
                <th scope="row">2</th>
                <th>Jacob</th>
                <th>Thornton</th>
                <th>@fat</th>
                <th>Thornton</th>
                <th>Otto</th>
                <th style="text-align: center">
                  <button class="btn btn-primary btn-accion"><i class="fa fa-pencil" aria-hidden="true"></i> </button>
                  <button class="btn btn-danger btn-accion"><i class="fa fa-trash-o" aria-hidden="true"></i> </button>
                </th>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    
    </div>
