<div class="container-fluid" style="margin-top: 8%; padding: 0 10% 0 10%">

  <div class="row" style="text-align: center">
    <div class="col-md-12">
      <h2> Admistración de Vehiculos</h2>
      <hr>
      <button class="btn btn-primary" data-toggle="modal" data-target="#modalAdminVehiculo" style="float: left;margin-bottom: 6px"> <i class="fa fa-plus" aria-hidden="true"></i></button>
    </div>
  </div>

  <div class="col-md-12">
    <div class="row" style="text-align: center">
      <table class="table">
        <thead class="thead-default">
          <tr>
            <th class="th-color"><i class="fa fa-list-ol" aria-hidden="true"></i></th>
            <th class="th-color">Placa</th>
            <th class="th-color">Tipo</th>
            <th class="th-color">Marca</th>
            <th class="th-color">Descripción</th>
            <th class="th-color">Kilometraje</th>
            <th class="th-color">Estado</th>
            <th class="th-color">Problema</th>
            <th class="th-color" style="text-align: center">Acciones</th>
          </tr>
        </thead>
        <tbody style="font-family: 'Times New Roman', Times, serif">
          <tr *ngFor="let vehiculo of vehiculos; let i = index">
            <th scope="row">{{i+1}}</th>
            <th>{{vehiculo.placa}}</th>
            <th>{{vehiculo.tipo}}</th>
            <th>{{vehiculo.marca}}</th>
            <th>{{vehiculo.descripcion}}</th>
            <th>{{vehiculo.kilometraje}}</th>
            <th>{{vehiculo.estado}}</th>
            <th>{{vehiculo.reporte}}</th>
            <th style="text-align: center">
              <button class="btn btn-primary btn-accion" data-toggle="modal" data-target="#modalEditVehiculo"  (click)="obtenerVehiculo(vehiculo._id)"><i class="fa fa-pencil" aria-hidden="true"></i> </button>
              <button class="btn btn-danger btn-accion" data-toggle="modal" data-target="#modal-delete" (click)="obtenerVehiculo(vehiculo._id)"><i class="fa fa-trash-o" aria-hidden="true"></i> </button>
            </th>
          </tr>         
        </tbody>
      </table>
    </div>
    <h5 *ngIf='vehiculos ==undefined || vehiculos.length==0'>No existen vehiculos registrados en el sistema.<br></h5> 
    <hr *ngIf='vehiculos ==undefined || vehiculos.length==0'>
  </div>
  <!-- paginador-->
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Previous">
              <small aria-hidden="true">&laquo;</small>
              <small class="sr-only">Previous</small>
            </a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Next">
              <small aria-hidden="true">&raquo;</small>
              <small class="sr-only">Next</small>
            </a>
      </li>
    </ul>
  </nav>

</div>

<!-- Seccion del Modal: Agregar nueva Sala -->
<div class="modal fade bd-example-modal-sm " id="modalAdminVehiculo" tabindex="-1" role="dialog" aria-labelledby="modalAdminVehiculo"
aria-hidden="true">
<div class="modal-dialog bd-example-modal-sm " role="document">
  <div class="modal-content">
    <div class="modal-header" style="background: #0069d9;color:#fff">
      <h5 class="modal-title" id="exampleModalLabel"><i class="fa fa-car" aria-hidden="true"></i>&nbsp;&nbsp;Agregar Vehículo</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="salir()"> 
        <small aria-hidden="true">&times;</small>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-12">
          <ol class="breadcrumb">
            <li>
              <a><img src="assets/img/logo.png" ></a>
            </li>
          </ol>
        </div>
      </div>
      <!-- END BREADCRUMB-->
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-12">
            <form #adminVehiculo="ngForm" (ngSubmit)="agregarVehiculo()">
              <div class="control-group form-group">
                <div class="controls">
                  <input type="text" class="form-control" #tipo="ngModel" name= "tipo" [(ngModel)]="vehiculo.tipo" placeholder="Tipo de Vehiculo" required >
                  <small *ngIf="tipo.invalid && (tipo.dirty || tipo.touched)" >
                    <i class="fa fa-exclamation-circle" aria-hidden="true"></i>   El tipo es obligatorio</small> 
                </div>
              </div>
              <div class="control-group form-group">
                <div class="controls">
                  <input type="text" class="form-control"  #marca="ngModel" name= "marca" [(ngModel)]="vehiculo.marca"placeholder="Marca del Vehiculo" required>
                  <small *ngIf="marca.invalid && (marca.dirty || marca.touched)" >
                    <i class="fa fa-exclamation-circle" aria-hidden="true"></i> La marca es obligatoria</small> 
                </div>
              </div>
                <div class="control-group form-group">
                  <div class="controls">
                    <input id="input-placa" type="text" class="form-control"  #placa="ngModel" name= "placa" [(ngModel)]="vehiculo.placa" 
                    placeholder="Placa de Vehiculo"  required (input)="validarVehiculo()" >
                    <small *ngIf="placa.invalid && (placa.dirty || placa.touched)" >
                      <i class="fa fa-exclamation-circle" aria-hidden="true"></i> La placa es obligatoria</small> 
                    <small *ngIf="placaExist"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> Ya existe un Vehiculo con esa placa</small> 
                    </div>
                </div>
              
              <div class="control-group form-group">
                <div class="controls">
                  <textarea class="form-control" #descripcion="ngModel" name= "descripcion" [(ngModel)]="vehiculo.descripcion" placeholder="Descripción" rows="3" required></textarea>
                  <small *ngIf="descripcion.invalid && (descripcion.dirty || descripcion.touched)" >
                    <i class="fa fa-exclamation-circle" aria-hidden="true"></i> La descripción obligatoria</small> 
                </div>
              </div>
              <div class="control-group form-group">
                <div class="controls">
                  <input type="number" class="form-control" #kilometraje="ngModel" name= "kilometraje" [(ngModel)]="vehiculo.kilometraje" placeholder="Kilometraje" required>
                  <small *ngIf="kilometraje.invalid && (kilometraje.dirty || kilometraje.touched)" > <i class="fa fa-exclamation-circle" aria-hidden="true">
                    </i> El Kilometraje es obligatorio</small> 
                </div>
              </div>
              <div class="control-group form-group">
                <div class="controls">
                  <ul>
                    <li style="margin-left: -37px;"> <label class="switch">
                        <input type="checkbox" checked (change)="cambiarEstado()">
                        <small class="slider round"></small>
                      </label>
                    </li>
                    <li>
                      <label style="float: left;margin-top: -2.3em;">{{estadoMensaje}}</label>
                    </li>
                  </ul>
                </div>
              </div>
              <div id="success"></div>
              <div style="float: right">
                  <button type="button" class="btn btn-default btn-modal-can" data-dismiss="modal" (click)="salir()">Salir</button>   
                  <button id="btn-add" type="submit" [disabled]="!adminVehiculo.form.valid || placaExist" class="btn btn-success" >Confirmar</button>
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
       
    </div>
  </div>
</div>
</div>


<!-- Seccion del Modal: Modificar Vehiculo -->
<div class="modal fade bd-example-modal-sm" id="modalEditVehiculo" tabindex="-1" role="dialog" aria-labelledby="modalEditVehiculo"
aria-hidden="true">
<div class="modal-dialog bd-example-modal-sm " role="document">
  <div class="modal-content">
    <div class="modal-header" style="background: #0069d9;color:#fff">
      <h5 class="modal-title" id="modalEditVehiculo"><i class="fa fa-car" aria-hidden="true"></i>&nbsp;&nbsp;Editar Vehículo</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cerrarModal('#modalEditVehiculo')"> 
        <small aria-hidden="true">&times;</small>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-12">
          <ol class="breadcrumb">
            <li>
              <a><img src="assets/img/logo.png" ></a>
            </li>
          </ol>
        </div>
      </div>
      <!-- END BREADCRUMB-->
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-12">
            <form #adminVehiculoEdit="ngForm" (ngSubmit)="modificarVehiculo()">
                <div class="control-group form-group">
                    <div class="controls">
                      <input id="input-placa-edit" type="text" class="form-control"  #placa="ngModel" name= "placa" [(ngModel)]="vehiculoEdit.placa" 
                      placeholder="Placa de Vehiculo"  required (input)="validarModificacion()" >
                      <small *ngIf="placa.invalid && (placa.dirty || placa.touched)" >
                        <i class="fa fa-exclamation-circle" aria-hidden="true"></i> La placa es obligatoria</small> 
                      <small *ngIf="placaExistEdit"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> Ya existe un Vehiculo con esa placa</small> 
                      </div>
                  </div>
              <div class="control-group form-group">
                <div class="controls">
                  <input type="text" class="form-control" #tipo="ngModel" name= "tipo" [(ngModel)]="vehiculoEdit.tipo" placeholder="Tipo de Vehiculo" required >
                  <small *ngIf="tipo.invalid && (tipo.dirty || tipo.touched)" >
                    <i class="fa fa-exclamation-circle" aria-hidden="true"></i>   El tipo es obligatorio</small> 
                </div>
              </div>
              <div class="control-group form-group">
                <div class="controls">
                  <input type="text" class="form-control"  #marca="ngModel" name= "marca" [(ngModel)]="vehiculoEdit.marca"placeholder="Marca del Vehiculo" required>
                  <small *ngIf="marca.invalid && (marca.dirty || marca.touched)" >
                    <i class="fa fa-exclamation-circle" aria-hidden="true"></i> La marca es obligatoria</small> 
                </div>
              </div>
              
              <div class="control-group form-group">
                <div class="controls">
                  <textarea class="form-control" #descripcion="ngModel" name= "descripcion" [(ngModel)]="vehiculoEdit.descripcion" placeholder="Descripción" rows="3" required></textarea>
                  <small *ngIf="descripcion.invalid && (descripcion.dirty || descripcion.touched)" >
                    <i class="fa fa-exclamation-circle" aria-hidden="true"></i> La descripción obligatoria</small> 
                </div>
              </div>
              <div class="control-group form-group">
                <div class="controls">
                  <input type="number" class="form-control" #kilometraje="ngModel" name= "kilometraje" [(ngModel)]="vehiculoEdit.kilometraje" placeholder="Kilometraje" required>
                  <small *ngIf="kilometraje.invalid && (kilometraje.dirty || kilometraje.touched)" > <i class="fa fa-exclamation-circle" aria-hidden="true">
                    </i> El Kilometraje es obligatorio</small> 
                </div>
              </div>
              <div class="control-group form-group">
                <div class="controls">
                  <ul>
                    <li style="margin-left: -37px;"> <label class="switch">
                        <input type="checkbox" [checked]='estadoEdicion' (change)="cambiarEstadoEdicion()">
                        <small class="slider round"></small>
                      </label>
                    </li>
                    <li>
                      <label style="float: left;margin-top: -2.3em;">{{estadoMensajEdit}}</label>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="control-group form-group">
                <div class="controls">
                  <div class="controls">
                    <textarea class="form-control" #reporte="ngModel" name= "reporte" [(ngModel)]="vehiculoEdit.reporte" placeholder="Reporte algún problema de la sala" rows="3"></textarea>
                    </div>
                </div>
              </div>
              <div id="success"></div>
              <div style="float: right">
                  <button type="button" class="btn btn-default btn-modal-can" data-dismiss="modal" (click)="cerrarModal('#modalEditVehiculo')">Salir</button>   
                  <button id="btn-add" type="submit" [disabled]="!adminVehiculoEdit.form.valid || placaExistEdit" class="btn btn-success" >Confirmar</button>
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
       
    </div>
  </div>
</div>
</div>
<!-- Modal  eliminar vehiculo-->
<div class="modal fade" id="modal-delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" style="color: #FFF;background: #0069d9">
        <h5 class="modal-title" id="exampleModalLabel">Eliminar vehículo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <small aria-hidden="true">&times;</small>
            </button>
      </div>
      <div class="modal-body" style="text-align: center">
        <small>
            <i class="fa fa-trash fa-5x" aria-hidden="true" style="color:red"></i> 
          </small>
        <br><br>
        <h5>Está seguro que desea eliminar el vehículo? </h5>
        <br>
        <button type="button" class="btn btn-default btn-modal-can" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-default btn-modal-suc" data-dismiss="modal" (click)="eliminarVehiculo()">Confirmar</button>
      </div>
    </div>
  </div>
</div>