<div class="container-fluid" style="margin-top: 8%; padding: 0 10% 0 10%">

  <div class="row" style="text-align: center">
    <div class="col-md-12">
      <h2> Admistración Salas de Conferencias</h2>
      <hr>
      <button class="btn btn-primary" data-toggle="modal" data-target="#modalAdminSala" style="float: left;margin-bottom: 6px"> <i class="fa fa-plus" aria-hidden="true"></i></button>
    </div>

  </div>

  <div class="col-md-12">
    <div class="row" style="text-align: center">
      <table class="table">
        <thead class="thead-default">
          <tr>
            <th class="th-color"><i class="fa fa-list-ol" aria-hidden="true"></i></th>
            <th class="th-color">Nombre</th>
            <th class="th-color">Cupo</th>
            <th class="th-color">Descripción</th>
            <th class="th-color">Estado</th>
            <th class="th-color">Mensaje de Estado</th>
            <th class="th-color" style="text-align: center">Acciones</th>
          </tr>
        </thead>
        <tbody style="font-family: 'Times New Roman', Times, serif">
          <tr *ngFor="let sala of salas; let i = index">
            <th scope="row">{{i+1}}</th>
            <th>{{sala.nombre}}</th>
            <th>{{sala.cupo}}</th>
            <th>{{sala.descripcion}}</th>
            <th>{{sala.estado}}</th>
            <th>{{sala.reporte}}</th>
            <th style="text-align: center">
              <button class="btn btn-primary btn-accion" data-toggle="modal" data-target="#modalEditSala" (click)="obtenerSala(sala._id)" ><i class="fa fa-pencil" aria-hidden="true"></i> </button>
              <button class="btn btn-danger btn-accion" data-toggle="modal" data-target="#modal-delete"><i class="fa fa-trash-o" aria-hidden="true"></i> </button>
            </th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- paginador-->
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Previous">
            <small aria-hidden="true">&laquo;</small>
            <small class="sr-only">Previous</small>
          </a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Next">
            <small aria-hidden="true">&raquo;</small>
            <small class="sr-only">Next</small>
          </a>
      </li>
    </ul>
  </nav>

</div>

<!-- Seccion del Modal: Agregar nueva Sala -->
<div class="modal fade bd-example-modal-sm " id="modalAdminSala" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog bd-example-modal-sm " role="document">
    <div class="modal-content">
      <div class="modal-header" style="background: #0069d9;color:#fff">
        <h5 class="modal-title" id="exampleModalLabel"><i class="fa fa-users" aria-hidden="true"></i>&nbsp;&nbsp;Agregar Sala</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="salir()"> 
          <small aria-hidden="true">&times;</small>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <ol class="breadcrumb">
              <li>
                <a><img src="assets/img/logo.png" ></a>
              </li>
            </ol>
          </div>
        </div>
        <!-- END BREADCRUMB-->
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-12">
              <form #adminSala="ngForm" (ngSubmit)="agregarSala()">
                <div class="contrrol-group form-group">
                  <div class="controls">
                    <input id="input-nombre" type="text" class="form-control" #nombre="ngModel" name="nombre" [(ngModel)]="sala.nombre" placeholder="Nombre"
                      required (input)="validarSala()">
                    <small *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
                      <i class="fa fa-exclamation-circle" aria-hidden="true"></i> El nombre es obligatorio</small>
                    <small *ngIf="nombreExist"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> Ya existe una Sala con ese nombre</small>
                    <p class="help-block"></p>
                  </div>
                </div>
                <div class="control-group form-group">
                  <div class="controls">
                    <input type="number" class="form-control" #cupo="ngModel" name="cupo" [(ngModel)]="sala.cupo" placeholder="Cupos" required
                      pattern="[0-9]*">
                    <small *ngIf="cupo.invalid && (cupo.dirty || cupo.touched)">
                      <i class="fa fa-exclamation-circle" aria-hidden="true"></i> El Cupo de personas es obligatorio</small>
                    <p class="help-block"></p>
                  </div>
                </div>
                <div class="control-group form-group">
                  <div class="controls">
                    <textarea class="form-control" #descripcion="ngModel" name="descripcion" [(ngModel)]="sala.descripcion" placeholder="Descripción"
                      rows="3" required></textarea>
                    <small *ngIf="descripcion.invalid && (descripcion.dirty || descripcion.touched)"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> La descripción es obligatoria</small>
                    <p class="help-block"></p>
                  </div>
                </div>
                <div class="control-group form-group">
               <div class="controls">
                    <ul>
                      <li style="margin-left: -37px;"> <label class="switch">
                          <input type="checkbox" checked (change)="cambiarEstado()">
                          <small class="slider round"></small>
                        </label>
                      </li>
                      <li>
                        <label style="float: left;margin-top: -2.3em;">{{estadoMensaje}}</label>
                      </li>
                    </ul>
                  </div>
                </div>
                <div style="float: right">
                  <button type="button" class="btn btn-default btn-modal-can" data-dismiss="modal" (click)="salir()">Salir</button>
                  <button id="btn-add" type="submit" [disabled]="!adminSala.form.valid || nombreExist" class="btn btn-success">Confirmar</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
      </div>

    </div>
  </div>
</div>

<!-- Seccion del Modal: Editar Sala -->
<div class="modal fade bd-example-modal-sm " id="modalEditSala" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true">
<div class="modal-dialog bd-example-modal-sm " role="document">
  <div class="modal-content">
    <div class="modal-header" style="background: #0069d9;color:#fff">
      <h5 class="modal-title" id="exampleModalLabel"><i class="fa fa-users" aria-hidden="true"></i>&nbsp;&nbsp;Editar Sala</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cerrarModal('#modalEditSala')"> 
        <small aria-hidden="true">&times;</small>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-12">
          <ol class="breadcrumb">
            <li>
              <a><img src="assets/img/logo.png" ></a>
            </li>
          </ol>
        </div>
      </div>
      <!-- END BREADCRUMB-->
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-12">
            <form #adminSalaEdit="ngForm" (ngSubmit)="modificarSala()">
              <div class="contrrol-group form-group">
                <div class="controls">
                  <input id="input-nombre" type="text" class="form-control" #nombre="ngModel" name="nombre" [(ngModel)]="salaEdit.nombre" placeholder="Nombre"
                    required (input)="validarSala()">
                  <small *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
                    <i class="fa fa-exclamation-circle" aria-hidden="true"></i> El nombre es obligatorio</small>
                  <small *ngIf="nombreExist"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> Ya existe una Sala con ese nombre</small>
                  <p class="help-block"></p>
                </div>
              </div>
              <div class="control-group form-group">
                <div class="controls">
                  <input type="number" class="form-control" #cupo="ngModel" name="cupo" [(ngModel)]="salaEdit.cupo" placeholder="Cupos" required
                    pattern="[0-9]*">
                  <small *ngIf="cupo.invalid && (cupo.dirty || cupo.touched)">
                    <i class="fa fa-exclamation-circle" aria-hidden="true"></i> El Cupo de personas es obligatorio</small>
                  <p class="help-block"></p>
                </div>
              </div>
              <div class="control-group form-group">
                <div class="controls">
                  <textarea class="form-control" #descripcion="ngModel" name="descripcion" [(ngModel)]="salaEdit.descripcion" placeholder="Descripción"
                    rows="3" required></textarea>
                  <small *ngIf="descripcion.invalid && (descripcion.dirty || descripcion.touched)"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> La descripción es obligatoria</small>
                  <p class="help-block"></p>
                </div>
              </div>
              <div class="control-group form-group">
                <div class="controls">
                  <ul>
                    <li style="margin-left: -37px;"> <label class="switch">
                        <input type="checkbox" [checked]='estadoEdicion' (change)="cambiarEstadoEdicion($event)">
                        <small class="slider round"></small>
                      </label>
                    </li>
                    <li>
                      <label style="float: left;margin-top: -2.3em;">{{estadoMensajEdit}}</label>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="control-group form-group">
                <div class="controls">
                  <div class="controls">
                    <textarea class="form-control" #reporte="ngModel" name= "reporte" [(ngModel)]="salaEdit.reporte" placeholder="Reporte algún problema de la sala" rows="3"></textarea>
                    <p class="help-block"></p>
                  </div>
                </div>
              </div>
              <div style="float: right">
                <button type="button" class="btn btn-default btn-modal-can" data-dismiss="modal" (click)="cerrarModal('#modalEditSala')">Salir</button>
                <button id="btn-Edit" type="submit" [disabled]="!adminSalaEdit.form.valid || nombreExist" class="btn btn-success">Confirmar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
    </div>

  </div>
</div>
</div>

<!-- Modal eliminar Sala-->
<div class="modal fade" id="modal-delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" style="color: #FFF;background: #0069d9">
        <h5 class="modal-title" id="exampleModalLabel">Eliminar Sala</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <small aria-hidden="true">&times;</small>
            </button>
      </div>
      <div class="modal-body" style="text-align: center">
        <small>
            <i class="fa fa-trash fa-5x" aria-hidden="true" style="color:red"></i> 
          </small>
        <br><br>
        <h5>Está seguro que desea eliminar la sala? </h5>
        <br>
        <button type="button" class="btn btn-default btn-modal-can" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-default btn-modal-suc" data-dismiss="modal">Confirmar</button>
      </div>
    </div>
  </div>
</div>

