<div class="modal fade bd-example-modal-sm " id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true">
<div class="modal-dialog bd-example-modal-sm " role="document">
  <div class="modal-content">
    <div class="modal-header" style="background: #0069d9;color:#fff">
      <h5 class="modal-title" id="exampleModalLabel"><i class="fa fa-user-circle-o"></i>&nbsp;&nbsp;Modificar Usuario {{codigo}}</h5>
       <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="salir()"> 
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-12">
          <ol class="breadcrumb">
            <li>
              <a><img src="assets/img/logo.png" ></a>
            </li>
          </ol>
        </div>
      </div>
      <!-- END BREADCRUMB-->
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-12">
            <form #modificarUsuario="ngForm" (ngSubmit)="modificarUusario()">
                <div class="control-group form-group">
                    <div class="controls">
                      <input type="email" class="form-control"  #correo="ngModel" name= "correo" [(ngModel)]="usuario.correo" placeholder="Correo" required>
                      <span *ngIf="correo.invalid && (correo.dirty || correo.touched)" > Campo <strong>Correo</strong> obligatorio</span> 
                      <p class="help-block"></p>
                    </div>
                  </div>
              <div class="control-group form-group">
                <div class="controls">
                  <input type="text" class="form-control"  #nombre="ngModel" name= "nombre" [(ngModel)]="usuario.nombre" placeholder="Nombre" required>
                  <span *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)" > Campo <strong>Nombre</strong> obligatorio</span>
                  <p class="help-block"></p>
                </div>
              </div>
              <div class="control-group form-group">
                <div class="controls">
                  <input type="text" class="form-control"  #apellidos="ngModel" name= "apellidos" [(ngModel)]="usuario.apellidos" placeholder="Apellidos" required>
                  <span *ngIf="!apellidos.valid && apellidos.touched" > Campo <strong>Apellidos</strong> obligatorio</span>
                  <p class="help-block"></p>
                </div>
              </div>              
              <div class="control-group form-group">
                <div class="controls">
                  <select  #departamento="ngModel" name= "departamento" [(ngModel)]="usuario.departamento" class="selectpicker" style="width: 100%;padding: .5rem .75rem;">
                                    <option>Recursos Humanos</option>
                                    <option>Administración</option>
                                    <option>Tenologías de la Información</option>
                  </select>
                  <p class="help-block"></p>
                </div>
              </div>
              <div class="control-group form-group">
                  <div class="controls">
                    <input type="password" class="form-control" #contrasena="ngModel" name= "contrasena" [(ngModel)]="usuario.contrasena" placeholder="Contraseña"  (focusout)="validarContrasena()" required>
                    <span *ngIf="!contrasena.valid && contrasena.touched" > Campo <strong>Contraseña</strong> obligatorio</span>
                  </div>
                </div>

                  <div class="control-group form-group">
                    <div class="controls">
                      <input type="password" class="form-control"  #confirmar="ngModel" name= "confirmar" [(ngModel)]="confirmaContra"  required placeholder="Confirmar Contraseña">
                      <span *ngIf="!confirmar.valid && confirmar.touched" > Campo <strong>Confirmar Contraseña</strong> obligatorio</span>
                    </div>
                  </div> 
              <div id="success"></div>
              <div class="modal-footer" style="float: right">
                  <button type="submit" [disabled]="!modificarUsuario.form.valid"class="btn btn-primary">Guardar Campos</button>
                   <button type="button" class="btn btn-secondary"  style="background: #f00a0a;" >Salir</button>   
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</div>
</div>