#formModificarUsuario {
margin-top: 8%;
}

#modificarInformacion{
 border-style: ridge;
 border-width: 1px;
 padding: 40px;
 margin-left: 7%;   
 margin-top: 35px;
}
#modificarContrasena{    
    border-style: ridge;
    border-width: 1px;
    padding: 40px;
    margin-left: 5%;
    margin-top: 35px;
    margin-right: 3%;
    
}

#tituloModificarUser{
    margin-left: 26%;
}


#btnModificar{
    float: right;
}

#btnActualizar{
    float: right;
}

.panel-body { padding:0px; }
.panel-body table tr td { padding-left: 15px }
.panel-body .table {margin-bottom: 0px; }


@media (min-width: 750px)  { 
    #btnActualizar{
        float: right;
        
    }
}

@media (max-width: 820px) and (min-width: 761px)  { 
    .formModificarUsuario {
        margin-top: 13%;
        }
        .modificarInformacion{
            margin-left: 26%;
        }
        #btnModificar{
            margin-left: 37%;
        }
}

@media  (max-width: 760px) and (min-width: 501px)  { 
    .formModificarUsuario {
        margin-top: 13%;
        }
        .modificarInformacion{
            margin-left: 0%;
           
        }
        #btnModificar{
            margin-left: 38%;
        }

}

  @media (max-width: 500px) and (min-width: 341px)
  {
    .modificarInformacion{ 
    margin-left: 0%;
    }
    .formModificarUsuario {
    margin-top: 23%;
    }
    #btnModificar{
        margin-left: 25%;
    }
}

@media only screen and (max-width: 340px) and (min-width: 5px)  { 

        .formModificarUsuario {
        margin-top: 40%;
        
        }
        .modificarInformacion{
            margin-left: 0;
        }
        #btnModificar{
            margin-left: 19%;
        }
}

.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
  }
  
  .ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
  }
  
  small{
    color: #a94442;
  }

