

<section class="formModificarUsuario">
<div class="container">
  <div class="col-md-6 modificar" >
    <ol class="breadcrumb" style="background-color: #0069d9; color: #fff">
      <li>
        <H2 style="text-align: center;"> <i class="fa fa-user" aria-hidden="true" ></i> Perfil de Usuario</H2>
      </li>
    </ol>
  </div>
  <div  class="container">
    <div class="modificar col-md-6">
    <form #modificarUsuario="ngForm" (ngSubmit)="modificarUusario()">
      <div class="control-group form-group">
        <div class="controls">
          <input type="email" class="form-control" #correo="ngModel" name="correo" [(ngModel)]="usuario.correo" placeholder="Correo"
            required>
          <small *ngIf="correo.invalid && (correo.dirty || correo.touched)" class="fa fa-exclamation-circle"> Campo Correo  obligatorio</small>
          <small *ngIf="correoExist"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> Ya existe un Usuario con ese correo</small>
          <p class="help-block"></p>
        </div>
      </div>
      <div class="control-group form-group">
        <div class="controls">
          <input type="text" class="form-control" #nombre="ngModel" name="nombre" [(ngModel)]="usuario.nombre" placeholder="Nombre"
            required>
          <small *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)" class="fa fa-exclamation-circle"> Campo Nombre  obligatorio</small>
          <p class="help-block"></p>
        </div>
      </div>
      <div class="control-group form-group">
        <div class="controls">
          <input type="text" class="form-control" #apellidos="ngModel" name="apellidos" [(ngModel)]="usuario.apellidos" placeholder="Apellidos"
            required>
          <small *ngIf="!apellidos.valid && apellidos.touched" class="fa fa-exclamation-circle"> Campo Apellidos  obligatorio</small>
          <p class="help-block"></p>
        </div>
      </div>
      <div class="control-group form-group">
        <div class="controls">
          <select #departamento="ngModel" name="departamento" [(ngModel)]="usuario.departamento" class="selectpicker" style="width: 100%;padding: .5rem .75rem;">
                                    <option>Recursos Humanos</option>
                                    <option>Administración</option>
                                    <option>Tenologías de la Información</option>
                  </select>
          <p class="help-block"></p>
        </div>
      </div>
      <div class="control-group form-group">
        <div class="controls">
          <input type="password" class="form-control" #contrasena="ngModel" name="contrasena" [(ngModel)]="usuario.contrasena" placeholder="Contraseña"
            (focusout)="validarContrasena()" required>
          <small *ngIf="!contrasena.valid && contrasena.touched" class="fa fa-exclamation-circle"> Campo Contraseña  obligatorio</small>
        </div>
      </div>

      <div class="control-group form-group">
        <div class="controls">
          <input type="password" class="form-control" #confirmar="ngModel" name="confirmar" [(ngModel)]="confirmaContra" required placeholder="Confirmar Contraseña">
          <small *ngIf="!confirmar.valid && confirmar.touched" class="fa fa-exclamation-circle"> Campo Confirmar Contraseña  obligatorio</small>
        </div>
      </div>
    </form>
  </div >
  </div >
  <div class="container">
  <div id="btnModificar">
    <div class="col-md-4 ">
          <button   type="submit" [disabled]="!modificarUsuario.form.valid" class="btn btn-primary" style="height: 50px;">Guardar Cambios</button>
    </div>
  </div>
  </div>
</div>
</section>

