<div class="container-fluid" style="margin-top: 8%; padding: 0 10% 0 10%">

  <!-- Opciones de solicitud-->
  <div class="row" >
    <div class="col-md-3" style="margin-left: 40%">
      <div class="panel with-nav-tabs panel-primary">
        <div class="panel-heading">
          <ul class="nav nav-pills nav-fill nav-tabs">

            <li class="nav-item">
              <a  id="bnt-sala" class="nav-link active" href="#tab1primary" data-toggle="tab" (click)="solicitud(1)" >Salas</a>
            </li>
            <li class="nav-item">
              <a id="bnt-vehiculo" class="nav-link" href="#tab2primary" data-toggle="tab" (click)="solicitud(2)">Vehículos</a>
            </li>
          </ul>
        </div>
        <div class="panel-body">
          <div class="tab-content">
            <div class="tab-pane fade in active" id="tab1primary">
            </div>
            <div class="tab-pane fade" id="tab2primary"></div>
          </div>
        </div>
      </div>
    </div>

  </div>
  
  <!-- Sección de Salas-->
  <section *ngIf="sala">
    <br>
    <div class="row" style="text-align: center">
      <div class="col-md-12">
        <h2> Administración - Solicitudes de Salas</h2>
        <hr>
        <!-- <button class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" style="float: left;margin-bottom: 6px"> <i class="fa fa-plus" aria-hidden="true"></i></button> -->
      </div>

    </div>
    <div class="col-md-12">
      <div class="row" style="text-align: center">
        <table class="table">
          <thead class="thead-default">
            <tr>
              <th class="th-color"><i class="fa fa-list-ol" aria-hidden="true"></i></th>
              <th class="th-color">Fecha<a (click)="ordenarSolicitudesSala('Fecha')"> <i class="fa fa-sort" aria-hidden="true"></i></a></th>
              <th class="th-color">Horario<a (click)="ordenarSolicitudesSala('Horario')"> <i class="fa fa-sort" aria-hidden="true"></i></a></th>
              <th class="th-color">Sala<a (click)="ordenarSolicitudesSala('Sala')"> <i class="fa fa-sort" aria-hidden="true"></i></a></th>
              <th class="th-color">Motivo <a (click)="ordenarSolicitudesSala('Motivo')"> <i class="fa fa-sort" aria-hidden="true"></i></a></th>
              <th class="th-color">Personas <a (click)="ordenarSolicitudesSala('Personas')"> <i class="fa fa-sort" aria-hidden="true"></i></a></th>
              <th class="th-color">Solicitante <a (click)="ordenarSolicitudesSala('Solicitante')"> <i class="fa fa-sort" aria-hidden="true"></i></a></th>
              <th class="th-color"> Recursos </th>
              <th class="th-color" style="text-align: center">Acciones</th>
            </tr>
          </thead>
          <tbody style="font-family: 'Times New Roman', Times, serif">
            <tr *ngFor= "let sala of solicitudSalas | paginate: {itemsPerPage:5, currentPage: p} let i = index">
              <th scope="row">{{i+1}}</th>
              <th>{{sala.fecha.day}}/{{sala.fecha.month}}/{{sala.fecha.year}}</th>
              <th>{{sala.horaInicio.hour}}:{{sala.horaInicio.minute}} - {{sala.horaFin.hour}}: {{sala.horaFin.minute}}</th>
              <th>{{sala.sala}}</th>
              <th>{{sala.descripcion}}</th>
              <th>{{sala.cantidadPersonas}}</th>
              <th>{{getNombre(sala.usuario)}}</th>
              <th><button   class="btn btn-success btn-accion" [disabled]="sala.recursos==0" data-toggle="modal" (click)="getNombreRecurso(sala)" data-target="#modalRecursos" aria-hidden="true"> <i class="fa fa-tasks" aria-hidden="true"></i></button></th>
              <th style="text-align: center">
                 <button class="btn btn-primary btn-accion"><i class="fa fa-pencil" aria-hidden="true"></i> </button> 
                <button class="btn btn-danger btn-accion" data-toggle="modal"  (click)="setIdEliminar(sala._id)" data-target="#modal-delete-solicitud"><i class="fa fa-trash-o" aria-hidden="true"></i> </button>
              </th>
            </tr>
          </tbody>
        </table>
      </div>
      <hr *ngIf='solicitudSalas ==undefined || solicitudSalas.length>0'>
      <h5 *ngIf='solicitudSalas ==undefined || solicitudSalas.length==0'>No existen solicitudes de salas registradas en el sistema.<br></h5> 
      <hr *ngIf='solicitudSalas ==undefined || solicitudSalas.length==0'>
    </div>
     <!-- paginador-->
     
     <pagination-controls (pageChange)="p =$event">
         
           </pagination-controls>
  </section>

<!-- Sección de modal de Recursos-->
<div  class="modal fade bd-example-modal-sm " id="modalRecursos" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true">
<div class="modal-dialog bd-example-modal-sm " role="document">
  <div class="modal-content">
    <div class="modal-header" style="background: #0069d9;color:#fff">
      <h5 class="modal-title" id="exampleModalLabel"><i class="fa fa-users" aria-hidden="true"></i>&nbsp;&nbsp;Recursos Asignados</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" data-dimiss="modal"> 
        <small aria-hidden="true">&times;</small>
      </button>
    </div>
    <div class="modal-body">
      <div class="row" style="text-align: center">
        <table class="table">
          <thead class="thead-default">
            <tr>
              <th class="th-color"><i class="fa fa-list-ol" aria-hidden="true"></i></th>
              <th class="th-color">Recursos</th>
              <th class="th-color" style="text-align: center">Acciones</th>
            </tr>
          </thead>
          <tbody style="font-family: 'Times New Roman', Times, serif">
            <tr *ngFor= "let lista of listaNombreRecursos; let i = index">
              <th scope="row">{{i+1}}</th>
              <th>{{lista}}</th>
              
              <th style="text-align: center">
                <button class="btn btn-danger btn-accion" data-toggle="modal" (click)="setCurrenIndex(i)"  data-target="#modal-delete"><i class="fa fa-trash-o" aria-hidden="true"></i> </button>
              </th>
            </tr>
          </tbody>
        </table>
      </div>
      <div style="float: right">
        <button type="button" class="btn btn-default btn-modal-can" data-dismiss="modal" >Salir</button>
      </div>
    </div>
  </div>
</div>
</div>


  <!-- Sección de vehiculos-->
  <section *ngIf="!sala">
      <br>
    <div class="row" style="text-align: center">
      <div class="col-md-12">
        <h2> Administración - Solicitudes de Vehiculos</h2>
        <hr>
        <!-- <button class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" style="float: left;margin-bottom: 6px"> <i class="fa fa-plus" aria-hidden="true"></i></button> -->
      </div>

    </div>

    <div class="col-md-12">
      <div class="row" style="text-align: center">
        <table class="table">
          <thead class="thead-default">
            <tr>
              <th class="th-color"><i class="fa fa-list-ol" aria-hidden="true"></i></th>
              <th class="th-color">Fecha<a (click)="ordenarSolicitudesVehiculo('Fecha')"> <i class="fa fa-sort" aria-hidden="true"></i></a></th>
              <th class="th-color">Horario <a (click)="ordenarSolicitudesVehiculo('Horario')"> <i class="fa fa-sort" aria-hidden="true"></i></a> </th>
              <th class="th-color">Placa-Vehículo <a (click)="ordenarSolicitudesVehiculo('Placa')"> <i class="fa fa-sort" aria-hidden="true"></i></a></th>
              <th class="th-color">Motivo <a (click)="ordenarSolicitudesVehiculo('Motivo')"> <i class="fa fa-sort" aria-hidden="true"></i></a></th>
              <th class="th-color">Destino <a (click)="ordenarSolicitudesVehiculo('Destino')"> <i class="fa fa-sort" aria-hidden="true"></i></a></th>
              <th class="th-color">Solicitante <a (click)="ordenarSolicitudesVehiculo('Solicitante')"> <i class="fa fa-sort" aria-hidden="true"></i></a></th>
              <th class="th-color"> Acompañantes</th>
              <th class="th-color" style="text-align: center">Acciones</th>
            </tr>
          </thead>
          <tbody style="font-family: 'Times New Roman', Times, serif">
            <tr *ngFor= "let vehiculo of solicitudVehiculos | paginate: {itemsPerPage:5, currentPage: p} let i = index">
              <th scope="row">{{i+1}}</th>
              <th>{{vehiculo.fecha.day}}/{{vehiculo.fecha.month}}/{{vehiculo.fecha.year}}</th>
              <th>{{vehiculo.horaSalida.hour}}:{{vehiculo.horaSalida.minute}} - {{vehiculo.horaRegreso.hour}}:{{vehiculo.horaRegreso.minute}}</th>
              <th>{{vehiculo.vehiculo}}</th>
              <th>{{vehiculo.descripcion}}</th>
              <th>{{vehiculo.destino}}</th>
              <th>{{getNombre(vehiculo.usuario)}}</th>
              <th><button   class="btn btn-success btn-accion" [disabled]="vehiculo.acompanantes==0" data-toggle="modal" (click)="getNombreAcompanantes(vehiculo)" data-target="#modalAcompanantes" aria-hidden="true"> <i class="fa fa-tasks" aria-hidden="true"></i></button></th>
              <th style="text-align: center">
                <button class="btn btn-primary btn-accion"><i class="fa fa-pencil" aria-hidden="true"></i> </button>
                <button class="btn btn-danger btn-accion" data-toggle="modal"  (click)="setIdEliminar(vehiculo._id)"data-target="#modal-delete-solicitudVehiculo"><i class="fa fa-trash-o" aria-hidden="true"></i> </button>
              </th>
            </tr>
          </tbody>
        </table>
      </div>
      <hr *ngIf='solicitudVehiculos ==undefined || solicitudVehiculos.length>0'>
      <h5 *ngIf='solicitudVehiculos ==undefined || solicitudVehiculos.length==0'>No existen solicitudes de vehiculos registradas en el sistema.<br></h5> 
      <hr *ngIf='solicitudVehiculos ==undefined || solicitudVehiculos.length==0'>
    </div>
      <!-- paginador-->
      
      <pagination-controls (pageChange)="p =$event">
          
            </pagination-controls>
  </section>
  


<!-- Sección de modal de Acompanantes-->


<div  class="modal fade bd-example-modal-sm " id="modalAcompanantes" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true">
<div class="modal-dialog bd-example-modal-sm " role="document">
  <div class="modal-content">
    <div class="modal-header" style="background: #0069d9;color:#fff">
      <h5 class="modal-title" id="exampleModalLabel"><i class="fa fa-users" aria-hidden="true"></i>&nbsp;&nbsp;Acompañantes Agregados</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" data-dimiss="modal"> 
        <small aria-hidden="true">&times;</small>
      </button>
    </div>
    <div class="modal-body">
      <div class="row" style="text-align: center">
        <table class="table">
          <thead class="thead-default">
            <tr>
              <th class="th-color"><i class="fa fa-list-ol" aria-hidden="true"></i></th>
              <th class="th-color">Acompañantes</th>
              <th class="th-color" style="text-align: center">Acciones</th>
            </tr>
          </thead>
          <tbody style="font-family: 'Times New Roman', Times, serif">
            <tr *ngFor= "let lista of listaNombreAcompanantes; let i = index">
              <th scope="row">{{i+1}}</th>
              <th>{{lista.nombre}} {{lista.apellidos}}</th>
              
              <th style="text-align: center">
                <button class="btn btn-danger btn-accion" data-toggle="modal" (click)="setAcompanantesIndex(i)"  data-target="#modal-delete-acompanante"><i class="fa fa-trash-o" aria-hidden="true"></i> </button>
              </th>
            </tr>
          </tbody>
        </table>
      </div>
      <div style="float: right">
        <button type="button" class="btn btn-default btn-modal-can" data-dismiss="modal" >Salir</button>
      </div>
    </div>
  </div>
</div>
</div>



<!-- Sección de modal de Recursos-->


  



<!-- Modal  eliminar Recursosolicitud-->
<div class="modal fade" id="modal-delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header" style="color: #FFF;background: #0069d9">
          <h5 class="modal-title" id="exampleModalLabel">Eliminar Solicitud</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body" style="text-align: center">
          <span >
            <i class="fa fa-trash fa-5x" aria-hidden="true" style="color:red"></i> 
          </span>
          <br><br>
          <h5>Está seguro que desea eliminar el Recurso? </h5>
          <br>
          <button type="button" class="btn btn-default btn-modal-can" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-default btn-modal-suc" (click)="elimarRecursoSoicitud()"  data-dismiss="modal">Confirmar</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal  eliminar Acompanante-->
<div class="modal fade" id="modal-delete-acompanante" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" style="color: #FFF;background: #0069d9">
        <h5 class="modal-title" id="exampleModalLabel">Eliminar Solicitud</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <div class="modal-body" style="text-align: center">
        <span >
          <i class="fa fa-trash fa-5x" aria-hidden="true" style="color:red"></i> 
        </span>
        <br><br>
        <h5>Está seguro que desea eliminar el acompanante? </h5>
        <br>
        <button type="button" class="btn btn-default btn-modal-can" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-default btn-modal-suc" (click)="elimarAcompanante()"  data-dismiss="modal">Confirmar</button>
      </div>
    </div>
  </div>
</div>
  <!-- Modal  eliminar solicitud-->
<div class="modal fade" id="modal-delete-solicitud" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" style="color: #FFF;background: #0069d9">
        <h5 class="modal-title" id="exampleModalLabel">Eliminar Solicitud</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <div class="modal-body" style="text-align: center">
        <span >
          <i class="fa fa-trash fa-5x" aria-hidden="true" style="color:red"></i> 
        </span>
        <br><br>
        <h5>Está seguro que desea eliminar la solicitud? </h5>
        <br>
        <button type="button" class="btn btn-default btn-modal-can" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-default btn-modal-suc" (click)="eliminarSolicitudSala()"  data-dismiss="modal">Confirmar</button>
      </div>
    </div>
  </div>
</div>

  <!-- Modal  eliminar solicitud-->
  <div class="modal fade" id="modal-delete-solicitudVehiculo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header" style="color: #FFF;background: #0069d9">
          <h5 class="modal-title" id="exampleModalLabel">Eliminar Solicitud de Vehiculo</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body" style="text-align: center">
          <span >
            <i class="fa fa-trash fa-5x" aria-hidden="true" style="color:red"></i> 
          </span>
          <br><br>
          <h5>Está seguro que desea eliminar la solicitud de Vehiculo? </h5>
          <br>
          <button type="button" class="btn btn-default btn-modal-can" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-default btn-modal-suc" (click)="eliminarSolicitudVehiculo()"  data-dismiss="modal">Confirmar</button>
        </div>
      </div>
    </div>
  </div>

  <br>
  <br> <br>
</div>
<section>
  <footer >
    
      &copy; Coopesparta R.L.
  
  </footer>
  </section> 

