.panel.with-nav-tabs .panel-heading{
    padding: 5px 5px 0 5px;
}
.panel.with-nav-tabs .nav-tabs{
	border-bottom: none;
}
.panel.with-nav-tabs .nav-justified{
	margin-bottom: -1px;
}

.btn-modal-suc{color: #0082c8}
.btn-modal-suc:hover{
	background: #218838;
	color: #ffffff;
	cursor: pointer;
}

.btn-modal-can{
	color: #0082c8
}
.btn-modal-can:hover{
	background: orangered;
	color: #ffffff;
	cursor: pointer;
}
.th-color{
    color:#0082c8;
    }
	table{
		font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif; 
		font-size: 1.2rem; 
	  }
	  
	  tr{
		font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif; 
		font-size: 1.2rem; 
	  }
	  a{
		font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif; 
		font-size: 1.2rem; 
	  }
	
	  #bnt-vehiculo{
		width: 154px;
		
	} 
	#bnt-sala{
		width: 154px;
		
	} 
	footer{
		font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif; 
		font-size: 1.2rem; 
	}
	pagination-controls{
		font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif; 
		font-size: 1.2rem; 
	}
footer {
	text-align: center;
	margin-top: 20%;
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 60px;
	padding-bottom: 16px;
	background: #343a40;
	z-index:2000;
	color: #ffffff;
	
	
	} 

	button{
		cursor: pointer;
	}