footer {
    text-align: center;
    margin-bottom: 0px;
    width: 100%;
    
}
#btn-user-opt {
    color: #fff;
    background-color: transparent; 
     border-color: transparent; 
}
button{
    cursor:pointer;
  }