
<div class="container-fluid" style="margin-top: 8%; padding: 0 10% 0 10%">
    
      <div class="row" style="text-align: center">
        <div class="col-md-12">
          <h2> Admistración de Usuarios</h2>
          <hr>
          <button class="btn btn-primary" style="float: left;margin-bottom: 6px"> <i class="fa fa-plus" aria-hidden="true"></i></button>      
        </div>
      </div>
    
      <div class="col-lg-12">
        <div class="row" style="text-align: center ;margin-bottom: 10%">
          <table class="table">
            <thead class="thead-default">
              <tr>
                <th class="th-color">#</th>
                <th class="th-color">Código de Usuario</th>
                <th class="th-color">Nombre</th>
                <th class="th-color">Apellidos</th>
                <th class="th-color">Departamente</th>
                <th class="th-color">Tipo de Usuario</th>
                <th class="th-color">Correo</th>
                <th class="th-color">Estado</th>
                <th class="th-color" style="text-align: center">Acciones</th>
              </tr>
            </thead>
            <tbody style="font-family: 'Times New Roman', Times, serif">
              <tr>
                <th scope="row">1</th>
                <th>COOPESPARTA/esolis</th>
                <th>Esteban</th>
                <th>Solis O</th>
                <th>TI</th>
                <th>Admin</th>
                <th>@fff</th>
                <th>Activo</th>
                <th style="text-align: center">
                  <button class="btn btn-primary btn-accion"><i class="fa fa-pencil" aria-hidden="true"></i> </button>
                  <button class="btn btn-danger btn-accion"><i class="fa fa-trash-o" aria-hidden="true"></i> </button>
                </th>
              </tr>
              <tr>
                  <th scope="row">2</th>
                  <th>COOPESPARTA/esolis</th>
                  <th>Esteban</th>
                  <th>Solis O</th>
                  <th>TI</th>
                  <th>Admin</th>
                  <th>@fff</th>
                  <th>Activo</th>
                <th style="text-align: center">
                  <button class="btn btn-primary btn-accion"><i class="fa fa-pencil" aria-hidden="true"></i> </button>
                  <button class="btn btn-danger btn-accion"><i class="fa fa-trash-o" aria-hidden="true"></i> </button>
                </th>
              </tr>
              <tr>
                  <th scope="row">3</th>
                  <th>COOPESPARTA/esolis</th>
                  <th>Esteban</th>
                  <th>Solis O</th>
                  <th>TI</th>
                  <th>Admin</th>
                  <th>@fff</th>
                  <th>Activo</th>
                <th style="text-align: center">
                  <button class="btn btn-primary btn-accion"><i class="fa fa-pencil" aria-hidden="true"></i> </button>
                  <button class="btn btn-danger btn-accion"><i class="fa fa-trash-o" aria-hidden="true"></i> </button>
                </th>
              </tr>
              <tr>
                  <th scope="row">4</th>
                  <th>COOPESPARTA/esolis</th>
                  <th>Esteban</th>
                  <th>Solis O</th>
                  <th>TI</th>
                  <th>Admin</th>
                  <th>@fff</th>
                  <th>Activo</th>
                <th style="text-align: center">
                  <button class="btn btn-primary btn-accion"><i class="fa fa-pencil" aria-hidden="true"></i> </button>
                  <button class="btn btn-danger btn-accion"><i class="fa fa-trash-o" aria-hidden="true"></i> </button>
                </th>
              </tr>
              <tr>
                  <th scope="row">5</th>
                  <th>COOPESPARTA/esolis</th>
                  <th>Esteban</th>
                  <th>Solis O</th>
                  <th>TI</th>
                  <th>Admin</th>
                  <th>@fff</th>
                  <th>Activo</th>
                <th style="text-align: center">
                  <button class="btn btn-primary btn-accion"><i class="fa fa-pencil" aria-hidden="true"></i> </button>
                  <button class="btn btn-danger btn-accion"><i class="fa fa-trash-o" aria-hidden="true"></i> </button>
                </th>
              </tr>
              <tr>
                  <th scope="row">6</th>
                  <th>COOPESPARTA/esolis</th>
                  <th>Esteban</th>
                  <th>Solis O</th>
                  <th>TI</th>
                  <th>Admin</th>
                  <th>@fff</th>
                  <th>Activo</th>
                <th style="text-align: center">
                  <button class="btn btn-primary btn-accion"><i class="fa fa-pencil" aria-hidden="true"></i> </button>
                  <button class="btn btn-danger btn-accion"><i class="fa fa-trash-o" aria-hidden="true"></i> </button>
                </th>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    
    </div>