<div class="container-fluid" style="margin-top: 8%; padding: 0 10% 0 10%">

  <div class="row" style="text-align: center">
    <div class="col-md-12">
      <h2> Admistración de Usuarios</h2>
      <hr>
      <!-- <button class="btn btn-primary" style="float: left;margin-bottom: 6px"> <i class="fa fa-plus" aria-hidden="true"></i></button> -->
    </div>
  </div>

  <div class="col-lg-12">
    <div class="row" style="text-align: center">
      <table class="table">
        <thead class="thead-default">
          <tr>
            <th class="th-color"><i class="fa fa-list-ol" aria-hidden="true"></i></th>
            <th class="th-color">Correo</th>
            <th class="th-color">Nombre</th>
            <th class="th-color">Apellidos</th>
            <th class="th-color">Departamento</th>
            <th class="th-color">Rol</th>
            <th class="th-color">Estado</th>
            <th class="th-color" style="text-align: center">Acciones</th>
          </tr>
        </thead>
        <tbody style="font-family: 'Times New Roman', Times, serif">
          <tr *ngFor="let usuario of usuarios | paginate: {itemsPerPage:5, currentPage: p} let i = index">
            <th scope="row">{{i+1}}</th>
            <th>{{usuario.correo}}</th>
            <th>{{usuario.nombre}}</th>
            <th>{{usuario.apellidos}}</th>
            <th>{{obtenerNombreDep(usuario.departamento)}}</th>
            <th>{{usuario.rol}}</th>
            <th>{{usuario.estado}}</th>
            <th style="text-align: center">
              <button class="btn btn-primary btn-accion"   (click)="obtenerUsuario(usuario._id,1)"><i class="fa fa-pencil" aria-hidden="true"></i> </button>
              <button class="btn btn-danger btn-accion" data-toggle="modal" data-target="#modal-delete" [disabled]='usuario.correo==currentUser || usuario.rol=="ADMINISTRADOR"' (click)="obtenerUsuario(usuario._id,2)"><i class="fa fa-trash-o" aria-hidden="true"></i> </button>
            </th>
          </tr>
          
        </tbody>
      </table>
    </div>
     <h5 *ngIf='usuarios ==undefined || usuarios.length==0'>No existen usuarios registrados en el sistema.<br></h5> 
    <hr *ngIf='usuarios ==undefined || usuarios.length==0'> 
  </div>

  <!-- paginador-->
  
  <hr>
  <!-- paginador-->
 <pagination-controls (pageChange)="p =$event"></pagination-controls>

<!-- Modal  eliminar usuario-->
<div class="modal fade" id="modal-delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" style="color: #FFF;background: #0069d9">
        <h5 class="modal-title" id="exampleModalLabel">Eliminar Usuario</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
      </div>
      <div class="modal-body" style="text-align: center">
        <span>
                <i class="fa fa-trash fa-5x" aria-hidden="true" style="color:red"></i> 
              </span>
        <br><br>
        <h5>Está seguro que desea eliminar el usuario? </h5>
        <br>
        <button type="button" class="btn btn-default btn-modal-can" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-default btn-modal-suc" data-dismiss="modal" (click)="eliminarUsuario()">Confirmar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal  Modificar Usuario-->

    <ng-template  #modalModificarUsuario let-c="close" let-d="dismiss">
    <div class="modal-header" style="background: #0069d9;color:#fff">
      <h5 class="modal-title" id="exampleModalLabel"><i class="fa fa-user-circle-o"></i>&nbsp;&nbsp;Modificar Usuario</h5>
      <button type="button" class="close"  aria-label="Close" (click)="c('Close click')"> 
          <small aria-hidden="true">&times;</small>
        </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-12">
          <ol class="breadcrumb">
            <li>
              <a><img src="assets/img/logo.png" ></a>
            </li>
          </ol>
        </div>
      </div>
      <!-- END BREADCRUMB-->
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-12">

            <form #editAdmiUserForm="ngForm" (ngSubmit)="modificarUsuario()">
              <div class="control-group form-group">
                <div class="controls">
                  <div class="row" style="margin-left:0em;margin-right:0em">
                  <input id="input-correo-admin-edit" type="text" #correo="ngModel" name="correo" class="form-control" [(ngModel)]="usuarioEdit.correo" 
                  placeholder="usuario" autofocus required (input)="validarModificacion()" (onfocus)="!usuarioExist" >
                  </div>
                  <small *ngIf="correo.touched && correo.value==''"> <i class="fa fa-exclamation-circle" aria-hidden="true"></i> El correo es obligatorio. </small>
                   <!-- <small *ngIf="!correo.valid && correo.value!null"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> Formato de correo inválido.</small>                      -->
                  <small *ngIf="usuarioExist"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> Ya existe una cuenta con ese correo</small>  
                </div>
              </div>
              <div class="control-group form-group">
                <div class="controls">
                  <input type="text" class="form-control" #nombre="ngModel" name="nombre" [(ngModel)]="usuarioEdit.nombre" placeholder="Nombre"
                    required>
                    <small [hidden]="nombre.valid || (nombre.pristine && !editAdmiUserForm.submitted)">
                        <i class="fa fa-exclamation-circle" aria-hidden="true"></i> El nombre es obligatorio
                    </small>
                </div>
              </div>

              <div class="control-group form-group">
                <div class="controls">

                  <input type="text" class="form-control" #apellidos="ngModel" name="apellidos" [(ngModel)]="usuarioEdit.apellidos" placeholder="Apellidos"
                    required maxlength="60">
                    <small [hidden]="apellidos.valid || (apellidos.pristine && !editAdmiUserForm.submitted)">
                        <i class="fa fa-exclamation-circle" aria-hidden="true"></i> Los apellidos son obligatorios
                    </small>
                </div>
              </div>

              <div class="control-group form-group">
                <div class="controls">
                  <select #departamento="ngModel" name="departamento" [(ngModel)]="usuarioEdit.departamento" class="selectpicker" 
                  style="width: 100%;padding: .5rem .75rem;" required  >  
                    <option value="" selected disabled >Departamento</option>
                        <option *ngFor="let depa of departamentos;">{{depa.nombre}}</option>
                      </select>
                      <small [hidden]="departamento.valid || (departamento.pristine && !editAdmiUserForm.submitted)">
                          <i class="fa fa-exclamation-circle" aria-hidden="true"></i> El departamento es  obligatorio
                      </small>
                </div>
              </div>
              <div class="control-group form-group">
                <div class="controls">
                  <select [disabled]='tempUserRol=="SUPERADMIN"' #rol="ngModel" name="rol" [(ngModel)]="usuarioEdit.rol" class="selectpicker" 
                  style="width: 100%;padding: .5rem .75rem;" required  >  
                    <option value="" selected disabled >Rol</option>
                        <option [disabled]='tempUserRol=="SUPERADMIN"'>ADMINISTRADOR</option>
                        <option [disabled]="true">SUPERADMIN</option>
                        <option [disabled]='tempUserRol=="SUPERADMIN"'>NOTIFICACIONES</option>
                        <option [disabled]='tempUserRol=="SUPERADMIN"'>USUARIO</option>
                        <option [disabled]='tempUserRol=="SUPERADMIN"'>REPORTES</option>
                      </select>
                      <small *ngIf='tempUserRol!="ADMINISTRADOR"' [hidden]="rol.valid || (rol.pristine && !editAdmiUserForm.submitted)">
                          <i class="fa fa-exclamation-circle" aria-hidden="true"></i> El rol de usario es  obligatorio
                      </small>
                </div>
              </div>

              <div class="control-group form-group">
                  <div class="controls" >
                       <ul>
                         <li style="margin-left: -37px;" > <label class="switch">
                             <input [disabled]='tempUserRol=="SUPERADMIN"' type="checkbox" [checked]='estadoEdicion' (change)="cambiarEstadoEdicion($event)">
                             <small class="slider round"></small>
                           </label>
                         </li>
                         <li>
                           <label style="float: left;margin-top: -2.3em;">{{estadoMensajEdit}}</label>
                         </li>
                       </ul>
                     </div>
                   </div>

              <div style="float: right">
                  <button type="button" class="btn btn-default btn-modal-can" (click)="c('Close click')" >Salir</button>               
                  <button id="btn-edit-admin-usuario" type="submit" 
                   [disabled]="!correo.valid || !nombre.valid || !apellidos.valid  ||  !departamento.valid || usuarioExist"
                    class="btn btn-success">Continuar</button>
              </div>
            </form>
            
          </div>
        </div>
      </div>
    </div>
  </ng-template>
   
  <!-- </div>
</div>
</div> -->
</div>
<br><br><br>
<section>
<footer >
  
    &copy; Coopesparta R.L.

</footer>
</section> 