<div class="container-fluid" style="margin-top: 8%; padding: 0 10% 0 10%">

  <div class="row" style="text-align: center">
    <div class="col-md-12">
      <h2> Admistración de Departamentos</h2>
      <hr>
      <button class="btn btn-primary" style="float: left;margin-bottom: 6px" data-toggle="modal" data-target="#modalAdminDepa">
         <i class="fa fa-plus" aria-hidden="true"></i></button>
    </div>
  </div>

  <div class="col-md-12">
    <div class="row" style="text-align: center">
      <table class="table">
        <thead class="thead-default">
          <tr>
            <th class="th-color"><i class="fa fa-list-ol" aria-hidden="true"></i></th>
            <th class="th-color">Nombre</th>
            <th class="th-color" style="text-align: center">Color</th>
            <th class="th-color">Estado</th>
            <th class="th-color" style="text-align: center">Acciones</th>
          </tr>
        </thead>
        <tbody style="font-family: 'Times New Roman', Times, serif">
          <tr *ngFor="let departamento of departamentos; let i = index">
            <th scope="row">{{i+1}}</th>
            <th>{{departamento.nombre}}</th>
            <th>

              <hr   [style.background]="departamento.color" style="height: 1.5em;width: 80%;;margin-top: 3%">
            </th>
            <th>{{departamento.estado}}</th>
            <th style="text-align: center">
              <button class="btn btn-primary btn-accion" data-toggle="modal" data-target="#modalEditDepartamento" (click)="obtenerDepartamento(departamento._id)"><i class="fa fa-pencil" aria-hidden="true"></i> </button>
              <button class="btn btn-danger btn-accion" data-toggle="modal" data-target="#modal-delete" (click)="obtenerDepartamento(departamento._id)"><i class="fa fa-trash-o" aria-hidden="true"></i> </button>
            </th>
          </tr>
        </tbody>
      </table>
    </div>
    <h5 *ngIf='departamentos ==undefined || departamentos.length==0'>No existen departamentos registrados en el sistema.<br></h5> 
    <hr *ngIf='departamentos ==undefined || departamentos.length==0'>
  </div>

  <!-- paginador-->
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
        </a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        </a>
      </li>
    </ul>
  </nav>

</div>

<!-- Modal  eliminar recurso-->
<div class="modal fade" id="modal-delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" style="color: #FFF;background: #0069d9">
        <h5 class="modal-title" id="exampleModalLabel">Eliminar Departamento</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
      </div>
      <div class="modal-body" style="text-align: center">
        <span>
            <i class="fa fa-trash fa-5x" aria-hidden="true" style="color:red"></i> 
          </span>
        <br><br>
        <h5>Está seguro que desea eliminar el departamento? </h5>
        <br>
        <button type="button" class="btn btn-default btn-modal-can" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-default btn-modal-suc" data-dismiss="modal" (click)="eliminarDepartamento()">Confirmar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal de agregar departamento -->

<div class="modal fade bd-example-modal-sm " id="modalAdminDepa" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog bd-example-modal-sm " role="document">
    <div class="modal-content">
      <div class="modal-header" style="background: #0069d9;color:#fff">
        <h5 class="modal-title" id="exampleModalLabel"><i class="fa fa-briefcase" aria-hidden="true"></i>&nbsp;&nbsp;Agregar Departamento</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cerrarModal('#modalAdminDepa')"> 
        <span aria-hidden="true">&times;</span>
      </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <ol class="breadcrumb">
              <li>
                <a><img src="assets/img/logo.png" ></a>
              </li>
            </ol>
          </div>
        </div>
        <!-- END BREADCRUMB-->
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-12">
              <form #adminDepartamento="ngForm" (ngSubmit)="agregarDepartamento()">
                <div class="control-group form-group">
                  <div class="controls">
                    <input id="input-nombre" type="text" class="form-control"  #nombre="ngModel" name= "nombre" [(ngModel)]="departamento.nombre" 
                    placeholder="Nombre" required (input)="validarDepartamento()" >
                    <small *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)" >
                        <i class="fa fa-exclamation-circle" aria-hidden="true"></i> El nombre es obligatorio
                    </small> 
                    <small *ngIf="nombreExist"><i class="fa fa-exclamation-circle" aria-hidden="true">
                      </i> Ya existe un Departamento con ese nombre
                    </small> 
                  </div>
                </div>

                <div class="control-group form-group">
                  <div class="row">

                    <div class="col-md-2">
                      <label> Color</label>
                    </div>
                    <div class="col-md-10">
                      <input type="color" class="form-control"  #color="ngModel" name= "color" [(ngModel)]="departamento.color" style="padding: 0px" required>
                      <span *ngIf="color.invalid && (color.dirty || color.touched)" >
                          <i class="fa fa-exclamation-circle" aria-hidden="true"></i> El color es obligatorio</span> 
                      <p class="help-block"></p>
                    </div>
                  </div>
                </div>
                <div class="control-group ">
                  <div class="controls ">
                    <ul>
                      <li style="margin-left: -37px;"><label class="switch">
                        <input type="checkbox" checked (change)="cambiarEstado()">
                        <span class="slider round"></span>
                      </label>
                      </li>
                      <li>
                          <label style="float: left;margin-top: -2.3em;">{{estadoMensaje}}</label>
                        </li>
                      
                    </ul>
                  </div>
                </div>
                <div id="success"></div>
                <div style="float: right">
                    <button type="button" class="btn btn-default btn-modal-can" data-dismiss="modal" (click)="salir()">Salir</button>   
                    <button id="btn-add" type="submit" [disabled]="!adminDepartamento.form.valid || nombreExist" class="btn btn-success" >Confirmar</button>
                  </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
       
      </div>
    </div>
  </div>
</div>

<!-- Modal de editar departamento -->

<div class="modal fade bd-example-modal-sm " id="modalEditDepartamento" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true">
<div class="modal-dialog bd-example-modal-sm " role="document">
  <div class="modal-content">
    <div class="modal-header" style="background: #0069d9;color:#fff">
      <h5 class="modal-title" id="exampleModalLabel"><i class="fa fa-briefcase" aria-hidden="true"></i>&nbsp;&nbsp;Editar Departamento</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cerrarModal('#modalEditDepartamento')"> 
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-12">
          <ol class="breadcrumb">
            <li>
              <a><img src="assets/img/logo.png" ></a>
            </li>
          </ol>
        </div>
      </div>
      <!-- END BREADCRUMB-->
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-12">
            <form #adminDepartamentoEdit="ngForm" (ngSubmit)="modificarDepartamento()">
              <div class="control-group form-group">
                <div class="controls">
                  <input id="input-nombre" type="text" class="form-control"  #nombre="ngModel" name= "nombre" [(ngModel)]="departamentoEdit.nombre" 
                  placeholder="Nombre" required (input)="validarModificacion()" >
                  <small *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)" >
                      <i class="fa fa-exclamation-circle" aria-hidden="true"></i> El nombre es obligatorio
                  </small> 
                  <small *ngIf="nombreExistEdit"><i class="fa fa-exclamation-circle" aria-hidden="true">
                    </i> Ya existe un Departamento con ese nombre
                  </small> 
                </div>
              </div>

              <div class="control-group form-group">
                <div class="row">

                  <div class="col-md-2">
                    <label> Color</label>
                  </div>
                  <div class="col-md-10">
                    <input type="color" class="form-control"  #color="ngModel" name= "color" [(ngModel)]="departamentoEdit.color" style="padding: 0px" required>
                    <span *ngIf="color.invalid && (color.dirty || color.touched)" >
                        <i class="fa fa-exclamation-circle" aria-hidden="true"></i> El color es obligatorio</span> 
                    <p class="help-block"></p>
                  </div>
                </div>
              </div>
              <div class="control-group ">
                <div class="controls ">
                  <ul>
                    <li style="margin-left: -37px;"><label class="switch">
                      <input type="checkbox" [checked]='estadoEdicion' (change)="cambiarEstadoEdicion($event)" >
                      <span class="slider round"></span>
                    </label>
                    </li>
                    <li>
                        <label style="float: left;margin-top: -2.3em;">{{estadoMensajEdit}}</label>
                      </li>
                    
                  </ul>
                </div>
              </div>
              <div id="success"></div>
              <div style="float: right">
                  <button type="button" class="btn btn-default btn-modal-can" data-dismiss="modal">Salir</button>   
                  <button id="btn-add" type="submit" [disabled]="!adminDepartamentoEdit.form.valid || nombreExist" class="btn btn-success" >Confirmar</button>
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
     
    </div>
  </div>
</div>
</div>