<ng-template #modalContent let-close="close">
  <div class="modal-header" style="background: #0069d9;color:#fff">
    <!-- <h5 class="modal-title">Event action occurred</h5>
      <button type="button" class="close" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button> -->
    <h5 class="modal-title" id="exampleModalLabel"><i class="fa fa-calendar" aria-hidden="true"></i>&nbsp;&nbsp;{{ modalData?.action }} Solicitud</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" data-dimiss="modal" (click)="close()"> 
        <small aria-hidden="true">&times;</small>
      </button>
  </div>
  <div class="modal-body">
    <div>
      <pre> <a><img src="assets/img/logo.png" ></a> </pre>
    </div>
    <div>
      Evento:
      <pre>{{ modalData?.event | json }}</pre>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="close()">OK</button>
  </div>
</ng-template>

<div class="row text-center" style="margin-top: 8%">

  <div class="col-md-4">
    <div class="btn-group">
      <div class="btn btn-primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate">
        Anterior
      </div>
      <div class="btn btn-outline-secondary" mwlCalendarToday [(viewDate)]="viewDate">
        Hoy
      </div>
      <div class="btn btn-primary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate">
        Siguiente
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'es' }}</h3>
  </div>
  <div class="col-md-4">
    <div class="btn-group">
      <div class="btn btn-primary" (click)="view = 'month'" [class.active]="view === 'month'">
        Mes
      </div>
      <div class="btn btn-primary" (click)="view = 'week'" [class.active]="view === 'week'">
        Semana
      </div>
      <div class="btn btn-primary" (click)="view = 'day'" [class.active]="view === 'day'">
        Día
      </div>
    </div>
  </div>
</div>
<br>
<!-- [locale]="locale"  para que tome el idioma definido en el componente, la var locale-->
<div [ngSwitch]="view" class="contaniner-fluid" style="margin-left: 30px;margin-right: 30px;margin-bottom: 10px">
  <mwl-calendar-month-view *ngSwitchCase="'month'" [viewDate]="viewDate" [events]="events" [locale]="locale" [refresh]="refresh"
    [activeDayIsOpen]="activeDayIsOpen" (dayClicked)="dayClicked($event.day)" (eventClicked)="handleEvent('Clicked', $event.event)"
    (eventTimesChanged)="eventTimesChanged($event)" (click)="click($event)">
  </mwl-calendar-month-view>
  <mwl-calendar-week-view *ngSwitchCase="'week'" [viewDate]="viewDate" [events]="events" [locale]="locale" [refresh]="refresh"
    (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
  </mwl-calendar-week-view>
  <mwl-calendar-day-view *ngSwitchCase="'day'" [viewDate]="viewDate" [events]="events" [locale]="locale" [refresh]="refresh"
    (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
  </mwl-calendar-day-view>
</div>

<h3>
  <!--  Editar eventos 
    <button
      class="btn btn-primary pull-right"
      (click)="addEvent()" style="margin-right: 2%">
      <i class="fa fa-calendar-plus-o" aria-hidden="true"></i>&nbsp;Nuevo
    </button>
    <div class="clearfix"></div>
  </h3>
  

  <table class="table table-bordered">
  
    <thead>
      <tr>
        <th>Titulo</th>
        <th>Color Primario</th>
        <th>Color Secondario</th>
        <th>Inicia</th>
        <th>Termina</th>
        <th>Eliminar</th>
      </tr>
    </thead>
  
    <tbody>
      <tr *ngFor="let event of events; let index = index">
        <td>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="event.title"
            (keyup)="refresh.next()">
        </td>
        <td>
          <input
            type="color"
            [(ngModel)]="event.color.primary"
            (change)="refresh.next()">
        </td>
        <td>
          <input
            type="color"
            [(ngModel)]="event.color.secondary"
            (change)="refresh.next()">
        </td>
        <td>
          <mwl-demo-utils-date-time-picker
            [(ngModel)]="event.start"
            (ngModelChange)="refresh.next()"
            locale="locale"
            placeholder="Not set">
          </mwl-demo-utils-date-time-picker>
        </td>
        <td>
          <mwl-demo-utils-date-time-picker
            [(ngModel)]="event.end"
            (ngModelChange)="refresh.next()"
            placeholder="Not set">
          </mwl-demo-utils-date-time-picker>
        </td>
        <td>
          <button
            class="btn btn-danger"
            (click)="events.splice(index, 1); refresh.next()">
            Eliminar
          </button>
        </td>
      </tr>
    </tbody>
  
  </table>-->


  <!-- Modal  agregar nueva solicitud-->
  <div class="modal fade bd-example-modal-lg" id="modal-add-new-request" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true" >
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header" style="color: #FFF;background: #0069d9">
          <h5 class="modal-title" id="exampleModalLabel"><i class="fa fa-calendar-plus-o" aria-hidden="true"></i> Solicitar Sala</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cerrarModal('#modal-add-new-request')">
            <small aria-hidden="true" style="font-size: 2rem; cursor: pointer">&times;</small>
          </button>
        </div>
        <div class="modal-body" style="text-align: center">
         <!-- <br>
           <table class="table table-bordered table-responsive">
            <thead>
              <tr>
                <th class="th-color">Horario</th>

                <th class="th-color">Sala</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <div class="row">
                    <div class="col-md-6">
                      <form class="form-inline">
                        <div class="form-group">
                          <div class="input-group">
                            <input readonly class="form-control" [placeholder]="placeholder" name="date" [(ngModel)]="dateStruct" (ngModelChange)="updateDate()"
                              ngbDatepicker #datePicker="ngbDatepicker">
                            <div class="input-group-addon" (click)="datePicker.toggle()">
                              <i class="fa fa-calendar"></i>
                            </div>
                          </div>
                        </div>
                      </form>

                      <div style="font-size: 1rem">
                        <br>
                        <label for="">Inicia</label>
                        <div class="form-group">
                          <ngb-timepicker [(ngModel)]="solicitudSala.horaInicio" (ngModelChange)="updateTime()" [meridian]="true" (input)="updateInitDateOnInput()"
                            #ctrlInitDate="ngModel" name="ctrlInitDate" required>
                          </ngb-timepicker>
                          <div *ngIf="ctrlInitDate.valid" class="small form-text text-success">Correcto <i class="fa fa-check" aria-hidden="true"></i> </div>
                          <div class="small form-text text-danger" *ngIf="!ctrlInitDate.valid">
                            <div *ngIf="ctrlInitDate.errors['required']"> <i class="fa fa-exclamation-circle" aria-hidden="true"></i> Debe ingresar valores Numericos</div>
                            <div *ngIf="ctrlInitDate.errors['tooLate']"> <i class="fa fa-exclamation-circle" aria-hidden="true"></i> Debe ingresar un valor válido en
                              las horas</div>
                            <div *ngIf="ctrlInitDate.errors['tooEarly']"> <i class="fa fa-exclamation-circle" aria-hidden="true"></i> Debe ingresar un valor válido en los
                              minutos</div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group" style="margin-top: 3.3em; font-size: 1rem">

                        <label for="">Termina</label>
                        <ngb-timepicker [(ngModel)]="solicitudSala.horaFin" (ngModelChange)="updateTime()" [meridian]="true" (input)="updateFinishDateOnInput()"
                          #ctrlFinishDate="ngModel" name="ctrlFinishDate" required>
                        </ngb-timepicker>
                        <div *ngIf="ctrlFinishDate.valid" class="small form-text text-success">Correcto <i class="fa fa-check" aria-hidden="true"></i> </div>
                        <div class="small form-text text-danger" *ngIf="!ctrlFinishDate.valid">
                          <div *ngIf="ctrlFinishDate.errors['required']"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> Debe ingresar valores Numericos</div>
                          <div *ngIf="ctrlFinishDate.errors['tooLate']"> <i class="fa fa-exclamation-circle" aria-hidden="true"></i> Debe ingresar un valor válido en las
                            horas</div>
                          <div *ngIf="ctrlFinishDate.errors['tooEarly']"> <i class="fa fa-exclamation-circle" aria-hidden="true"></i> Debe ingresar un valor válido en los
                            minutos</div>
                        </div>
                      </div>
                    </div>
                    <div *ngIf="ctrlFinishDate.valid" class="small form-text text-success">Debe eligir un horario correcto <i class="fa fa-check" aria-hidden="true"></i> </div>
                    

                  </div>
                </td>
                <td>
                  <div class="control-group form-group">
                    <div class="controls">
                      <select #sal="ngModel" name="sal" [(ngModel)]="solicitudSala.sala" class="selectpicker" style="width: 100%;font-size: 1.2rem;min-width: 10em;"
                        required>  
                            <option value="" selected disabled >Seleccione Sala</option>
                                <option *ngFor="let sala of salas;">{{sala.nombre}}</option>
                              </select>

                      <div *ngIf="sal.valid" class="small form-text text-success" style="font-size:0.9rem">Correcto<i class="fa fa-check" aria-hidden="true"></i></div>
                      <div class="small form-text text-danger" *ngIf="sal.invalid && (sal.dirty || sal.touched)" style="font-size:0.9rem">
                        <div *ngIf="sal.errors['required']"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> La sala es obligatoria.</div>
                      </div>
                    </div>
                  </div>

                  <div class="control-group form-group">
                    <div class="controls">
                      <input type="number" class="form-control" #cup="ngModel" name="cup" [(ngModel)]="solicitudSala.cantidadPersonas" placeholder="Capacidad 10"
                        required>
                      <div *ngIf="cup.valid" class="small form-text text-success" style="font-size:0.9rem">Correcto<i class="fa fa-check" aria-hidden="true"></i></div>
                      <div class="small form-text text-danger" *ngIf="cup.invalid && (cup.dirty || cup.touched)" style="font-size:0.9rem">
                        <div *ngIf="cup.errors['required']"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> La cantidad de personas es obligatoria</div>
                      </div>
                    </div>
                  </div>
                  <div class="control-group form-group">
                    <div class="controls">
                      <textarea class="form-control" #descp="ngModel" name="descp" [(ngModel)]="solicitudSala.descripcion" placeholder="Motivo por el cuál solicita la sala."
                        rows="3" required></textarea>
                      <div *ngIf="descp.valid" class="small form-text text-success" style="font-size:0.9rem">Correcto <i class="fa fa-check" aria-hidden="true"></i></div>
                      <div class="small form-text text-danger" *ngIf="descp.invalid && (descp.dirty || descp.touched)" style="font-size:0.9rem">
                        <div *ngIf="descp.errors['required']"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> El motivo de la solicitud es obligatorio</div>

                      </div>
                    </div>
                  </div>
                
                </td>
              </tr>
            </tbody>
          </table>

          <div class="container-fluid">
            <hr>
            <h4 style="color:#0069d9">Lista de Recursos disponibles</h4> <br>
            <div class="row">
              <div class="col-md-12" style="font-size: 1rem">
                <div class="container">
                  <div class="form-group">
                    <div class="row col-md-12" style="overflow-y: scroll; height: 100px">
                      <div class="col-md-6" *ngFor="let recurso of recursos;" style="text-align: left">
                        <label class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" (change)="changeRecursos($event,recurso._id)" >
                          <span class="custom-control-indicator"></span>
                          <span class="custom-control-description">{{recurso.nombre}}</span>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <hr>
          <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="cerrarModal('#modal-add-new-request')">Cancelar</button>
          <button id="btn-add-solid" type="submit" class="btn btn-success" data-dismiss="modal" (click)="agregarSolicitud()" [disabled]="!descp.valid || !cup.valid || !sal.valid ||  !ctrlInitDate.valid">Confirmar</button>

          <br> -->


          <div id="accordion" role="tablist" aria-multiselectable="true">
           
            <!-- card lista de soliciudes del día-->
            <div class="card">
              <div class="card-header" role="tab" id="headingOne">
                <h5 class="mb-0">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      Lista de solicitudes <i class="fa fa-arrow-down" aria-hidden="true"></i>
                  </a>
                </h5>
              </div>
          
              <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
                <div class="card-block">
                    
                  <table class="table table-hover" style="font-size:1rem">
                    <thead>
                      <tr>
                        <th scope="col"><i class="fa fa-list-ol" aria-hidden="true"></i></th>
                        <th scope="col">Motivo</th>
                        <th scope="col">Horario</th>
                        <th scope="col">Sala</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let solicitud of solicitudesdia; let i = index">
                      <th scope="row">{{i+1}}</th>
                      <th>{{solicitud.descripcion}}</th>
                      <th>{{solicitud.horaInicio.hour}}:{{solicitud.horaInicio.minute}} - {{solicitud.horaFin.hour}}:{{solicitud.horaFin.minute}} </th>
                      <th>{{solicitud.sala}}</th>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

            <!-- card agregar solicitud-->
            <div class="card">
              <div class="card-header" role="tab" id="headingTwo">
                <h5 class="mb-0">
                  <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Solicitar una sala <i class="fa fa-arrow-down" aria-hidden="true"></i>
                  </a>
                </h5>
              </div>
              <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="card-block">
                  <br>
                  <table class="table table-bordered table-responsive">
                    <thead>
                      <tr>
                        <th class="th-color">Horario</th>
        
                        <th class="th-color">Sala</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          <div class="row">
                            <div class="col-md-6">
                              <form class="form-inline">
                                <div class="form-group">
                                  <div class="input-group">
                                    <input readonly class="form-control" [placeholder]="placeholder" name="date" [(ngModel)]="dateStruct" (ngModelChange)="updateDate()"
                                      ngbDatepicker #datePicker="ngbDatepicker">
                                    <div class="input-group-addon" (click)="datePicker.toggle()">
                                      <i class="fa fa-calendar"></i>
                                    </div>
                                  </div>
                                </div>
                              </form>
        
                              <div style="font-size: 1rem">
                                <br>
                                <label for="">Inicia</label>
                                <div class="form-group">
                                  <ngb-timepicker [(ngModel)]="solicitudSala.horaInicio" (ngModelChange)="updateTime()" [meridian]="true" (input)="updateInitDateOnInput()"
                                    #ctrlInitDate="ngModel" name="ctrlInitDate" required>
                                  </ngb-timepicker>
                                  <div *ngIf="ctrlInitDate.valid" class="small form-text text-success">Correcto <i class="fa fa-check" aria-hidden="true"></i> </div>
                                  <div class="small form-text text-danger" *ngIf="!ctrlInitDate.valid">
                                    <div *ngIf="ctrlInitDate.errors['required']"> <i class="fa fa-exclamation-circle" aria-hidden="true"></i> Debe ingresar valores Numericos</div>
                                    <div *ngIf="ctrlInitDate.errors['tooLate']"> <i class="fa fa-exclamation-circle" aria-hidden="true"></i> Debe ingresar un valor válido en
                                      las horas</div>
                                    <div *ngIf="ctrlInitDate.errors['tooEarly']"> <i class="fa fa-exclamation-circle" aria-hidden="true"></i> Debe ingresar un valor válido en los
                                      minutos</div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-group" style="margin-top: 3.3em; font-size: 1rem">
        
                                <label for="">Termina</label>
                                <ngb-timepicker [(ngModel)]="solicitudSala.horaFin" (ngModelChange)="updateTime()" [meridian]="true" (input)="updateFinishDateOnInput()"
                                  #ctrlFinishDate="ngModel" name="ctrlFinishDate" required>
                                </ngb-timepicker>
                                <div *ngIf="ctrlFinishDate.valid" class="small form-text text-success">Correcto <i class="fa fa-check" aria-hidden="true"></i> </div>
                                <div class="small form-text text-danger" *ngIf="!ctrlFinishDate.valid">
                                  <div *ngIf="ctrlFinishDate.errors['required']"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> Debe ingresar valores Numericos</div>
                                  <div *ngIf="ctrlFinishDate.errors['tooLate']"> <i class="fa fa-exclamation-circle" aria-hidden="true"></i> Debe ingresar un valor válido en las
                                    horas</div>
                                  <div *ngIf="ctrlFinishDate.errors['tooEarly']"> <i class="fa fa-exclamation-circle" aria-hidden="true"></i> Debe ingresar un valor válido en los
                                    minutos</div>
                                </div>
                              </div>
                            </div>
                            <div *ngIf="ctrlFinishDate.valid" class="small form-text text-success">Debe eligir un horario correcto <i class="fa fa-check" aria-hidden="true"></i> </div>
                            
        
                          </div>
                        </td>
                        <td>
                          <div class="control-group form-group">
                            <div class="controls">
                              <select #sal="ngModel" name="sal" [(ngModel)]="solicitudSala.sala" class="selectpicker" style="width: 100%;font-size: 1.2rem;min-width: 10em;"
                                required>  
                                    <option value="" selected disabled >Seleccione Sala</option>
                                        <option *ngFor="let sala of salas;">{{sala.nombre}}</option>
                                      </select>
        
                              <div *ngIf="sal.valid" class="small form-text text-success" style="font-size:0.9rem">Correcto<i class="fa fa-check" aria-hidden="true"></i></div>
                              <div class="small form-text text-danger" *ngIf="sal.invalid && (sal.dirty || sal.touched)" style="font-size:0.9rem">
                                <div *ngIf="sal.errors['required']"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> La sala es obligatoria.</div>
                              </div>
                            </div>
                          </div>
        
                          <div class="control-group form-group">
                            <div class="controls">
                              <input type="number" class="form-control" #cup="ngModel" name="cup" [(ngModel)]="solicitudSala.cantidadPersonas" placeholder="Capacidad 10"
                                required>
                              <div *ngIf="cup.valid" class="small form-text text-success" style="font-size:0.9rem">Correcto<i class="fa fa-check" aria-hidden="true"></i></div>
                              <div class="small form-text text-danger" *ngIf="cup.invalid && (cup.dirty || cup.touched)" style="font-size:0.9rem">
                                <div *ngIf="cup.errors['required']"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> La cantidad de personas es obligatoria</div>
                              </div>
                            </div>
                          </div>
                          <div class="control-group form-group">
                            <div class="controls">
                              <textarea class="form-control" #descp="ngModel" name="descp" [(ngModel)]="solicitudSala.descripcion" placeholder="Motivo por el cuál solicita la sala."
                                rows="3" required></textarea>
                              <div *ngIf="descp.valid" class="small form-text text-success" style="font-size:0.9rem">Correcto <i class="fa fa-check" aria-hidden="true"></i></div>
                              <div class="small form-text text-danger" *ngIf="descp.invalid && (descp.dirty || descp.touched)" style="font-size:0.9rem">
                                <div *ngIf="descp.errors['required']"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> El motivo de la solicitud es obligatorio</div>
        
                              </div>
                            </div>
                          </div>
                        
                        </td>
                      </tr>
                    </tbody>
                  </table>
        
                  <div class="container-fluid">
                    <hr>
                    <h4 style="color:#0069d9">Lista de Recursos disponibles</h4> <br>
                    <div class="row">
                      <div class="col-md-12" style="font-size: 1rem">
                        <div class="container">
                          <div class="form-group">
                            <div class="row col-md-12" style="overflow-y: scroll; height: 100px">
                              <div class="col-md-6" *ngFor="let recurso of recursos;" style="text-align: left">
                                <label class="custom-control custom-checkbox">
                                  <input type="checkbox" class="custom-control-input" (change)="changeRecursos($event,recurso._id)" >
                                  <span class="custom-control-indicator"></span>
                                  <span class="custom-control-description">{{recurso.nombre}}</span>
                                </label>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <hr>
                  <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="cerrarModal('#modal-add-new-request')">Cancelar</button>
                  <button id="btn-add-solid" type="submit" class="btn btn-success" data-dismiss="modal" (click)="agregarSolicitud()" [disabled]="!descp.valid || !cup.valid || !sal.valid ||  !ctrlInitDate.valid">Confirmar</button>

                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>