<ng-template #modalContent let-close="close" id="modalContent">
  <div class="modal-header" style="background: #0069d9;color:#fff">
    <h5 class="modal-title" id="exampleModalLabel"><i class="fa fa-calendar" aria-hidden="true"></i>&nbsp;&nbsp;{{tempTitleModal}} Solicitud</h5>
    <!-- {{ modalData?.action }}-->
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" data-dimiss="modal" (click)="close()"style="font-size: 2rem; cursor: pointer" > 
        <small aria-hidden="true">&times;</small>
      </button>
  </div>
  <div class="modal-body">
    <div>
      <pre> <a><img src="assets/img/logo.png" ></a> </pre>
    </div>
    <form>
      <div class="list-group">
        <div href="javascript:void(0);" class="list-group-item  flex-column align-items-start ">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1"> <i class="fa fa-user" aria-hidden="true"></i> Solicitante</h5>
          </div>
          <br>
          <p class="mb-1"> <strong>Nombre</strong> {{tempSolicitud.usuario}}</p>
          <p class="mb-1"> <strong>Departamento</strong> {{obtenerNombreDep(tempSolicitud.departamento)}}</p>
        </div>
        <div href="javascript:void(0);" class="list-group-item  flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1"><i class="fa fa-asterisk" aria-hidden="true"></i> Detalles</h5>
          </div>

          <div class="row">
            <div class="col-md-2" style="top: 2em;">
              <strong>Sala</strong>
            </div>
            <div class="col-md-4" style="top: 2em;">
              <div class="form-group">
                <div class="input-group">
                  <select class="btn btn-outline-primary" #salE="ngModel" name="salE" [(ngModel)]="solicitudSalaEdit.sala" (change)="setCupoMaximoSalaEdit(solicitudSalaEdit.sala)"
                    class="selectpicker" style="width: 100%;font-size: 1.2rem;min-width: 10em;" required [disabled]="tempEvent.length<=0">  
                      <option value="" selected disabled >Seleccione Sala</option>
                          <option *ngFor="let sala of salas;" >{{sala.nombre}}</option>
                        </select>

                </div>
              </div>
            </div>

            <div class="col-md-2" style="top: 2em;">
              <strong>Fecha    </strong>
            </div>
            <div class="col-md-4" style="top: 2em;">
              <div class="form-group">
                <div class="input-group">
                  <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker" [disabled]="true"
                    [minDate]="minDate" (change)="verificarRecursosModificar()" required>
                  <!--[disabled]="tempEvent.length<=0" -->
                  <button class="input-group-addon" (click)="d.toggle()" type="button" [disabled]="tempEvent.length<=0">
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                        </button>
                </div>
              </div>
            </div>
          </div>

          <br><br>
          <div class="row">
            <div class="col-md-2" style="top: 2em;">
              <strong>Hora Inicio</strong>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <ngb-timepicker #timeUpdate="ngModel" name="timeUpdate" [(ngModel)]="timeI" [meridian]="true" [disabled]="tempEvent.length<=0"
                (change)="verificarRecursosModificar()" required>
                </ngb-timepicker>

                <div class="small form-text text-danger" *ngIf="!timeUpdate.valid &&!timeUpdate.disabled">
                  <div> <i class="fa fa-exclamation-circle" aria-hidden="true"></i> Debe ingresar valores Numericos</div>
                </div>

              </div>

            </div>
            <div class="col-md-2" style="top: 2em;">
              <strong>Hora Final</strong>
            </div>
            <div class="col-md-4">

              <div class="form-group">
                <ngb-timepicker #timeUpdateF="ngModel" name="timeUpdateF" [(ngModel)]="timeF" [meridian]="true" [disabled]="tempEvent.length<=0"
                (change)="verificarRecursosModificar()" required></ngb-timepicker>

                <div class="small form-text text-danger" *ngIf="!timeUpdateF.valid  &&!timeUpdateF.disabled">
                  <div> <i class="fa fa-exclamation-circle" aria-hidden="true"></i> Debe ingresar valores Numericos</div>
                </div>
              </div>

            </div>

            <div class="small form-text text-danger" style="font-size:0.9rem">
              <div>&nbsp; &nbsp;&nbsp; &nbsp;
                <i *ngIf='mensajeSolicitudInvalidaEdit!=""' class="fa fa-exclamation-circle" aria-hidden="true"></i> {{mensajeSolicitudInvalidaEdit}}</div>

            </div>

          </div>

          <br>
          <div class="row">
            <div class="col-md-2">
              <strong>Cantidad de Personas</strong>
            </div>
            <div class="col-md-3">
              <div class="control-group form-group">
                <div class="controls">
                  <input id="inputCupE" type="number" class="form-control" #cupE="ngModel" name="cupE" [(ngModel)]="solicitudSalaEdit.cantidadPersonas"
                    placeholder="Capacidad {{cupoMaximoEdit}}" required min="1" max="{{cupoMaximoEdit}}" pattern="[0-9]*" [disabled]="tempEvent.length<=0"
                    (keypress)="elimininarNegativos('#inputCupE')">
                  <!-- <div *ngIf="cup.valid && cup.value<=cupoMaximo && cup.value>0 " class="small form-text text-success" style="font-size:0.9rem">Correcto<i class="fa fa-check" aria-hidden="true"></i></div> -->
                  <div class="small form-text text-danger" *ngIf="cupE.invalid && (cupE.dirty || cupE.touched)" style="font-size:0.9rem">
                    <div *ngIf="cupE.errors['required']"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> La cantidad de personas es obligatoria</div>
                  </div>
                  <div class="small form-text text-danger" *ngIf="solicitudSalaEdit.cantidadPersonas > cupoMaximoEdit && tempEvent.length>0 && cupE.touched"
                    style="font-size:0.9rem">
                    <div><i class="fa fa-exclamation-circle" aria-hidden="true"></i> La capacidad máxima de la sala es de {{cupoMaximoEdit}}
                      personas
                    </div>
                  </div>
                  <div class="small form-text text-danger" *ngIf="cupE.valid && cupE.value<='0'" style="font-size:0.9rem">
                    <div><i class="fa fa-exclamation-circle" aria-hidden="true"></i> La solicitud debe incluir almenos 1 persona</div>
                  </div>

                </div>
              </div>
            </div>

            <div class="col-md-2">
              <strong>Motivo</strong>
            </div>
            <div class="col-md-5">

              <!-- <input type="text" value=" {{tempSolicitud.motivo}} lllllllllllllllllllllllllllllllllllllllllllllllllll"> -->

              <div class="control-group form-group">
                <div class="controls">
                  <textarea class="form-control" #descpE="ngModel" name="descpE" [(ngModel)]="solicitudSalaEdit.descripcion" placeholder="Motivo por el cuál solicita la sala."
                    rows="2" required maxlength="50" [disabled]="tempEvent.length<=0"></textarea>
                  <!-- <div *ngIf="descp.valid" class="small form-text text-success" style="font-size:0.9rem">Correcto <i class="fa fa-check" aria-hidden="true"></i></div> -->
                  <div class="small form-text text-danger" *ngIf="descpE.invalid && (descpE.dirty || descpE.touched)" style="font-size:0.9rem">
                    <div *ngIf="descpE.errors['required']"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> El motivo de la solicitud es obligatorio</div>

                  </div>
                </div>
              </div>

            </div>

          </div>
          <!-- <p class="mb-1"> <strong>Motivo</strong>  
             {{tempSolicitud.motivo}}</p> -->
          </div>

        <div href="javascript:void(0);" class="list-group-item  flex-column align-items-start " *ngIf="tempEvent.length>0">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1"> <i class="fa fa-desktop" aria-hidden="true"></i> Recursos</h5>
          </div>

          <div class="container-fluid">
            <br>
            <!-- <hr>
            <h4 style="color:#0069d9">Lista de Recursos disponibles</h4> <br> -->
            <div class="row">
              <div class="col-md-12" style="font-size: 1rem">
                <div class="container">
                  <div class="form-group">
                    <div class="row col-md-12" style="overflow-y: scroll; height: 100px">
                      <div class="col-md-6" *ngFor="let recurso of recursos;let i =index;" style="text-align: left">
                        <label class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" [checked]="tempArrayCheckedEdit[i]" (change)="changeRecursosEdit($event,recurso._id,i)" >
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">{{recurso.nombre}}</span>
                          </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </form>


    <!-- <div>
      Evento:
      <pre>{{ modalData?.event | json }}</pre>
    </div>  -->

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="cancelarAccion()">Salir</button>
    <button *ngIf="tempEvent.length>0" type="button" class="btn btn-outline-secondary" (click)="modificarSolicitud()" [disabled]="!timeUpdateF.valid || !timeUpdate.valid || cupE.value<='0'  || cupE.value>cupoMaximoEdit || eliminar">Modificar
      </button>
    <button *ngIf="tempEvent.length>0" type="button" class="btn btn-outline-secondary" (click)="eliminarSolicitud()">Eliminar
         </button>
  </div>
</ng-template>

<div class="row text-center" style="margin-top: 8%">

  <div class="col-md-4">
    <div class="btn-group">
      <div class="btn btn-primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate">
        Anterior
      </div>
      <div class="btn btn-outline-secondary" mwlCalendarToday [(viewDate)]="viewDate">
        Hoy
      </div>
      <div class="btn btn-primary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate">
        Siguiente
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'es' }}</h3>
  </div>
  <div class="col-md-4">
    <div class="btn-group">
      <!-- <div class="btn btn-primary" (click)="view = 'month'" [class.active]="view === 'month'">
        Mes
      </div> -->
      <!-- <div class="btn btn-primary" (click)="view = 'week'" [class.active]="view === 'week'">
        Semana
      </div> -->
       <!-- <div  class="btn btn-primary" (click)="view = 'day'" [class.active]="view === 'day'"   >
        Día
      </div> -->
    </div>
  </div>
</div>
<br>
<!-- [locale]="locale"  para que tome el idioma definido en el componente, la var locale-->
<div [ngSwitch]="view" class="contaniner-fluid" style="margin-left: 30px;margin-right: 30px;margin-bottom: 10px">
  <mwl-calendar-month-view *ngSwitchCase="'month'" [viewDate]="viewDate" [events]="events" [locale]="locale" [refresh]="refresh"
    [activeDayIsOpen]="activeDayIsOpen" (dayClicked)="dayClicked($event.day)" (eventClicked)="handleEvent('Clicked', $event.event)"
    (eventTimesChanged)="eventTimesChanged($event)">
  </mwl-calendar-month-view>
  <mwl-calendar-week-view *ngSwitchCase="'week'" [viewDate]="viewDate" [events]="events" [locale]="locale" [refresh]="refresh"
    (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
  </mwl-calendar-week-view>
  <mwl-calendar-day-view *ngSwitchCase="'day'" [viewDate]="viewDate" [events]="events" [locale]="locale" [refresh]="refresh"
    (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
  </mwl-calendar-day-view>
</div>
<br>
<section class="guiColors">
  <!-- <h3> &nbsp;&nbsp;Guía de Colores</h3> -->
  <ul>
    <li *ngFor="let departamento of departamentos"  > <span class="span-g" [style.background]="departamento.color"></span> &nbsp; {{departamento.nombre}}</li>
  </ul>
  <br>
</section>
<br>
<br>
<!-- Modal  agregar nueva solicitud-->
  <ng-template #modalAgregarSolicitudSala let-c="close" let-d="dismiss">
      <div class="modal-header" style="color: #FFF;background: #0069d9">
        <h5 class="modal-title" id="exampleModalLabel"><i class="fa fa-calendar-plus-o" aria-hidden="true"></i> Solicitar Sala</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cerrar()">
            <small aria-hidden="true" style="font-size: 2rem; cursor: pointer">&times;</small>
          </button>
      </div>
      <div class="modal-body" style="text-align: center">


          <div class="row" >
              <div class="col-md-2">
              </div>
              <div class="col-md-8">
                <div class="panel with-nav-tabs panel-primary">
                  <div class="panel-heading">
                    <ul class="nav nav-pills nav-fill nav-tabs">
          
                      <li class="nav-item">
                        <a  id="btn-solicitud" class="nav-link active" href="#tab1primary" data-toggle="tab" (click)="solicitud(1)" >Solicitar Sala</a>
                      </li>
                      <li class="nav-item">
                        <a id="btn-lista" class="nav-link" href="#tab2primary" data-toggle="tab" (click)="solicitud(2)">Solicitudes del día</a>
                      </li>
                    </ul>
                  </div>
                  <div class="panel-body">
                    <div class="tab-content">
                      <div class="tab-pane fade in active" id="tab1primary">
                      </div>
                      <div class="tab-pane fade" id="tab2primary"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-2">
              </div>
          
            </div>

        <!--sección agregar solicitud-->
        <section *ngIf="solicSala">
          <br>
          <table class="table table-bordered table-responsive">
            <thead>
              <tr>
                <th class="th-color">Horario</th>

                <th class="th-color">Sala</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <div class="row">
                    <div class="col-md-6">
                      <form class="form-inline">
                        <div class="form-group">
                          <div class="input-group">
                            <input id="dataPickerAdd" readonly class="form-control" [placeholder]="placeholder" name="date" [(ngModel)]="dateStruct"
                              (ngModelChange)="updateDate()" ngbDatepicker #datePicker="ngbDatepicker" [minDate]="minDate">
                            <div class="input-group-addon" (click)="datePicker.toggle()">
                              <i class="fa fa-calendar"></i>
                            </div>
                          </div>
                        </div>
                      </form>
                      <div style="font-size: 1rem">
                        <br>
                        <label for="">Inicia</label>
                        <div class="form-group">
                          <ngb-timepicker [(ngModel)]="solicitudSala.horaInicio" (ngModelChange)="updateTime()" [meridian]="true" (input)="updateInitDateOnInput()"
                            #ctrlInitDate="ngModel" name="ctrlInitDate" required>
                          </ngb-timepicker>
                          <!-- <div *ngIf="ctrlInitDate.valid" class="small form-text text-success">Correcto <i class="fa fa-check" aria-hidden="true"></i> </div> -->
                          <div class="small form-text text-danger" *ngIf="!ctrlInitDate.valid">
                            <div *ngIf="ctrlInitDate.errors['required']"> <i class="fa fa-exclamation-circle" aria-hidden="true"></i> Debe ingresar valores Numericos</div>
                            <div *ngIf="ctrlInitDate.errors['tooLate']"> <i class="fa fa-exclamation-circle" aria-hidden="true"></i> Debe ingresar un valor válido en
                              las horas</div>
                            <div *ngIf="ctrlInitDate.errors['tooEarly']"> <i class="fa fa-exclamation-circle" aria-hidden="true"></i> Debe ingresar un valor válido en
                              los minutos
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group" style="margin-top: 3.5em; font-size: 1rem">
                        <label style="margin-top: 10px">Termina</label>
                        <ngb-timepicker [(ngModel)]="solicitudSala.horaFin" (ngModelChange)="updateTime()" [meridian]="true" (input)="updateFinishDateOnInput()"
                          #ctrlFinishDate="ngModel" name="ctrlFinishDate" required>
                        </ngb-timepicker>
                        <!-- <div *ngIf="ctrlFinishDate.valid" class="small form-text text-success">Correcto <i class="fa fa-check" aria-hidden="true"></i> </div> -->
                        <div class="small form-text text-danger" *ngIf="!ctrlFinishDate.valid">
                          <div *ngIf="ctrlFinishDate.errors['required']"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> Debe ingresar valores Numericos</div>
                          <div *ngIf="ctrlFinishDate.errors['tooLate']"> <i class="fa fa-exclamation-circle" aria-hidden="true"></i> Debe ingresar un valor válido en las
                            horas
                          </div>
                          <div *ngIf="ctrlFinishDate.errors['tooEarly']"> <i class="fa fa-exclamation-circle" aria-hidden="true"></i> Debe ingresar un valor válido en los
                            minutos
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="small form-text text-danger" style="font-size:0.9rem">
                      <div>&nbsp; &nbsp;&nbsp; &nbsp;
                        <i *ngIf='mensajeSolicitudInvalida!=""' class="fa fa-exclamation-circle" aria-hidden="true"></i>                        {{mensajeSolicitudInvalida}}</div>

                    </div>

                  </div>
                </td>
                <td>
                  <div class="control-group form-group">
                    <div class="controls">
                      <select #sal="ngModel" name="sal" [(ngModel)]="solicitudSala.sala" (change)="setCupoMaximoSala(solicitudSala.sala)" class="selectpicker"
                        style="width: 100%;font-size: 1.2rem;min-width: 10em;" required>  
                                <option value="" selected disabled >Seleccione Sala</option>
                                    <option *ngFor="let sala of salas;" >{{sala.nombre}}</option>
                                  </select>
                      <div class="small form-text text-danger" *ngIf="sal.invalid && (sal.dirty || sal.touched)" style="font-size:0.9rem">
                        <div *ngIf="sal.errors['required']"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> La sala es obligatoria.</div>
                      </div>
                    </div>
                  </div>

                  <div class="control-group form-group">
                    <div class="controls">
                      <input id="inputCup" type="number" class="form-control" #cup="ngModel" name="cup" [(ngModel)]="solicitudSala.cantidadPersonas"
                        placeholder="Capacidad {{cupoMaximo}}" required min="1" max="{{cupoMaximo}}" pattern="[0-9]*" [disabled]="!cupoMaximo"
                        (keypress)="elimininarNegativos('#inputCup')">
                      <div class="small form-text text-danger" *ngIf="cup.invalid && (cup.dirty || cup.touched)" style="font-size:0.9rem">
                        <div *ngIf="cup.errors['required']"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> La cantidad de personas es obligatoria</div>
                      </div>
                      <div class="small form-text text-danger" *ngIf="!cup.invalid &&(cup.value>cupoMaximo )" style="font-size:0.9rem">
                        <div><i class="fa fa-exclamation-circle" aria-hidden="true"></i> La capacidad máxima de la sala es de
                          {{cupoMaximo}} personas</div>
                      </div>
                      <div class="small form-text text-danger" *ngIf="cup.valid && cup.value<='0'" style="font-size:0.9rem">
                        <div><i class="fa fa-exclamation-circle" aria-hidden="true"></i> La solicitud debe incluir almenos 1 persona</div>
                      </div>

                    </div>
                  </div>
                  <div class="control-group form-group">
                    <div class="controls">
                      <textarea class="form-control" #descp="ngModel" name="descp" [(ngModel)]="solicitudSala.descripcion" placeholder="Motivo por el cuál solicita la sala."
                        rows="3" required maxlength="50" [disabled]="!cupoMaximo"></textarea>
                      <div class="small form-text text-danger" *ngIf="descp.invalid && (descp.dirty || descp.touched)" style="font-size:0.9rem">
                        <div *ngIf="descp.errors['required']"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> El motivo de la solicitud es obligatorio</div>

                      </div>
                    </div>
                  </div>

                </td>
              </tr>
            </tbody>
          </table>

          <div class="container-fluid">
            <hr>
            <h4 style="color:#0069d9">Lista de Recursos disponibles</h4> <br>
            <div class="row">
              <div class="col-md-12" style="font-size: 1rem">
                <div class="container">
                  <div class="form-group">
                    <div class="row col-md-12" style="overflow-y: scroll; height: 100px">
                      <div class="col-md-6" *ngFor="let recurso of recursos;" style="text-align: left">
                        <label class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" (change)="changeRecursos($event,recurso._id)" >
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">{{recurso.nombre}}</span>
                          </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <hr>
          <button type="button" class="btn btn-danger" (click)="cerrar()">Cancelar</button>
          <button id="btn-add-solid" type="submit" class="btn btn-success" (click)="agregarSolicitud()" [disabled]="!descp.valid || !cup.valid || !sal.valid ||  !ctrlInitDate.valid || cup.value<='0'">Confirmar</button>

        </section>

        <!-- sección lista-->
        <section *ngIf="!solicSala">
          <br>
          <h5>Fecha: {{dateStruct.day}}/{{dateStruct.month}}/{{dateStruct.year}}</h5>
          <table class="table table-hover" style="font-size:1rem">
            <thead>
              <tr>
                <th scope="col"><i class="fa fa-list-ol" aria-hidden="true"></i></th>
                <th scope="col">Sala</th>
                <th scope="col">Horario</th>
                <th scope="col">Motivo</th>
                <th scope="col">Encargado</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let solicitud of solicitudesdia | paginate: {itemsPerPage:5, currentPage: p} let i = index">
                <th scope="row">{{i+1}}</th>
                <th>{{solicitud.sala}}</th>
                <th>{{solicitud.horaInicio.hour}}:{{solicitud.horaInicio.minute}} - {{solicitud.horaFin.hour}}:{{solicitud.horaFin.minute}}
                </th>
                <th>{{solicitud.descripcion}}</th>
                <th>{{getUsuario(solicitud.usuario)}}</th>
              </tr>
            </tbody>
          </table>
          <h6 *ngIf='solicitudesdia ==undefined || solicitudesdia.length==0'>No hay solicitudes realizadas para el día seleccionado.<br></h6>
          <hr>
        
          <!-- paginador-->
         <pagination-controls (pageChange)="p =$event">
       
         </pagination-controls>
         <hr>
          <button type="button" class="btn btn-danger" (click)="cerrar()">Cancelar</button>
        </section>
      </div>
</ng-template>

<!-- Modal  eliminar solicitud-->
<ng-template #modalDeleteSolicitudSala>
  <div class="modal-header" style="color: #FFF;background: #0069d9">
    <h5 class="modal-title" id="exampleModalLabel">Eliminar Solicitud</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
  </div>
  <div class="modal-body" style="text-align: center">
    <span>
            <i class="fa fa-trash fa-5x" aria-hidden="true" style="color:red"></i> 
          </span>
    <br><br>
    <h5>¿Está seguro que desea eliminar la solicitud? </h5>
    <br>
    <button type="button" class="btn btn-default btn-modal-can" (click)="cancelarAccion()">Cancelar</button>
    <button type="button" class="btn btn-default btn-modal-suc" (click)="confirmEliminar()">Confirmar</button>
  </div>
</ng-template>