
<link rel="stylesheet" href="./assets/css/style.css">
<link rel="stylesheet" href="./assets/css/form-elements.css">
<link rel="shortcut icon" href="./assets/ico/favicon.png">
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="./assets/ico/apple-touch-icon-144-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="./assets/ico/apple-touch-icon-114-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="./assets/ico/apple-touch-icon-72-precomposed.png">
<link rel="apple-touch-icon-precomposed" href="./assets/ico/apple-touch-icon-57-precomposed.png">

<div  *ngIf="mostrar" style="top:0px">
    <div class="top-content" style="background-image: url('assets/img/fondoInfoUsuario.jpg');padding: 0">
        
          <div class="inner-bg" style="margin-left: 30%">
              <div class="container">
                  <div class="row" >
                      <div class="col-sm-8 col-sm-offset-2 text" style="margin-left: 5%">
                          <h1><strong>Información de Usuario</strong></h1>
                          <div class="description">
                      
                          </div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-sm-6 col-sm-offset-3 form-box">
                        <div class="form-top">
                          <div class="form-top-left">
                            <h3></h3>
                            <p>
                                Este proceso se realizara una unica vez, ingrese los datos que se le solicita. 
                              </p>
                          </div>
                          <div class="form-top-right">
                            <i class="fa fa-user-circle-o"></i>
                          </div>
                          </div>
                          <div class="form-bottom">
                        <form role="form" action="" method="post" class="login-form">
                          <div class="form-group">
                            
                            <label class="" for="form-username" style="color: white">Nombre</label>
                              <input type="text" name="nombreUsuario" placeholder="" class="form-username form-control" id="form-username">
                            </div>
                            <div class="form-group">
                                <label class="" for="form-password" style="color: white">Apellidos</label>
                                <input type="text" name="apellidosUsuario" placeholder="" class="form-password form-control" id="form-password">
                              </div>
                            <div class="form-group">
                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                      Departamento
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                      <a class="dropdown-item" >Recursos Humanos</a>
                                      <a class="dropdown-item" >Gerencia</a>
                                      <a class="dropdown-item" >Tecnologías de la Infomación</a>
                                    </div>
                                  </div>
                            </div>
                            <div class="form-group">
                                <label class="" for="form-password" style="color: white">Correo Electronico</label>
                                <input type="text" name="correoElectronico" placeholder="" class="form-password form-control" id="form-password">
                              </div>
                            <button  routerLink="/principal" routerLinkActive="actived" id="btnSumitInfoUsuario"  class="btn" (click)="principal()">Guardar</button>
                        </form>
                      </div>
                      </div>
                  </div>
              </div>
          </div>
          
      </div>


</div>

<script src="./assets/vendor/login/jquery.backstretch.min,js"></script>
<script src="./assets/vendor/login/jquery.scripts,js"></script> 
<!--<br><br><br><br>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Open modal for @mdo</button>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@fat">Open modal for @fat</button>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap">Open modal for @getbootstrap</button>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New message</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="recipient-name" class="form-control-label">Recipient:</label>
            <input type="text" class="form-control" id="recipient-name">
          </div>
          <div class="form-group">
            <label for="message-text" class="form-control-label">Message:</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Send message</button>
      </div>
    </div>
  </div>
</div>-->
