 <header >
    <base href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/">
    <div id="captioned-gallery" *ngIf='!isSolicitudSala && !isRegister'>
      <figure class="slider">
        <figure style="height: 100vh; background: transparent">
          <img src="assets/img/image02.jpg"  alt>
          <!-- <figcaption>Hobbiton, New Zealand</figcaption> -->
        </figure>
        <figure>
          <img src="assets/img/image03.jpg" alt>
        </figure>
        <figure>
          <img src="assets/img/image04.jpg" alt>
        </figure>
        <figure>
          <img src="assets/img/image05.jpg" alt>
        </figure>
        <figure>
          <img src="assets/img/image02.jpg" alt>
        </figure>
      </figure>
    </div>
  <header>
  <div class="container-fluid intro-message" *ngIf='!isSolicitudSala && !isRegister'>
    <h1 id="app-title">SAVE</h1>
    <h3 id="app-subtitle" style="color: #fff;">Sistema de Control de Salas y Vehiculos</h3>
    <hr class="intro-divider" style="background-color: #fff">
    <div class="carousel-fixed-item center">
      <div class="row-fluid">
        <div class="col-md-12">
          <a routerLink="/solicitudSala" routerLinkActive="actived" class=" btn btnIndex" (click)="solicitarSala(true)"><i class="fa fa-users" aria-hidden="true"></i>&nbsp;Salas</a>
          <a routerLink="/solicitudSala" class=" btn btnIndex"> <i class="fa fa-car" aria-hidden="true"></i>&nbsp;Vehiculos</a>
        </div>
      </div>
    </div>
  </div>