<header>
  <base href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/">
  <div id="captioned-gallery" *ngIf='!isSolicitudSala && !isRegister'>
    <figure class="slider">
      <figure style="height: 100vh; background: transparent">
        <img src="assets/img/image02.jpg" alt>
        <!-- <figcaption>Hobbiton, New Zealand</figcaption> -->
      </figure>
      <figure>
        <img src="assets/img/image03.jpg" alt>
      </figure>
      <figure>
        <img src="assets/img/image04.jpg" alt>
      </figure>
      <figure>
        <img src="assets/img/image05.jpg" alt>
      </figure>
      <figure>
        <img src="assets/img/image02.jpg" alt>
      </figure>
    </figure>
  </div>
</header>
<div class="container-fluid intro-message" *ngIf='!isSolicitudSala && !isRegister &&mmostrar'>
  <h1 id="app-title" class="animated  wow bounceInDown" data-wow-duration="2s" data-wow-delay="0.5s">SAVE</h1>
  <h3 id="app-subtitle" style="color: #fff;" class="animated wow bounceInLeft" data-wow-duration="2s" data-wow-delay="0.5s">Sistema de Control de Salas y Vehiculos</h3>
  <hr class="intro-divider" style="background-color: #fff">
  <div class="carousel-fixed-item center">
    <div class="row-fluid">
      <div class="col-md-12">
        <a routerLink="/solicitudSala" routerLinkActive="actived" class=" btn btnIndex animated  wow jackInTheBox" data-wow-duration="1s"
          (click)="solicitarSala(true)"><i class="fa fa-users" aria-hidden="true"></i>&nbsp;Salas</a>
        <a routerLink="/solicitudSala" class=" btn btnIndex animated  wow jackInTheBox" data-wow-duration="1s"> <i class="fa fa-car" aria-hidden="true"></i>&nbsp;Vehiculos</a>
      </div>
    </div>
  </div>
</div>

<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap">Open modal for @getbootstrap</button> -->
<!-- Modal  Register-->
<div class="modal fade bd-example-modal-sm " id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog bd-example-modal-sm " role="document">
    <div class="modal-content">
      <div class="modal-header" style="background: #0069d9;color:#fff">
        <h5 class="modal-title" id="exampleModalLabel"><i class="fa fa-user-circle-o"></i>&nbsp;&nbsp;Registrarse</h5>
        <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="salir()"> 
            <span aria-hidden="true">&times;</span>
          </button>-->
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <ol class="breadcrumb">
              <li>
                <a><img src="assets/img/logo.png" ></a>
              </li>
            </ol>
          </div>
        </div>
        <!-- END BREADCRUMB-->
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-12">
              <form #registreUser="ngForm" (ngSubmit)="registrarUsuario()">
                  <div class="control-group form-group">
                      <div class="controls">
                        <input type="email" class="form-control" #correo="ngModel" name= "correo" [(ngModel)]="usuario.correo" placeholder="Correo Electrónico" autofocus (focusout)="validarCorreo()" required>
                        <span *ngIf="correo.invalid && (correo.dirty || correo.touched)" > Campo <strong>Correo</strong> obligatorio</span> 
                        
                      </div>
                    </div>
                <div class="control-group form-group">
                  <div class="controls">                    
                    <input type="text" class="form-control" #nombre="ngModel" name= "nombre" [(ngModel)]="usuario.nombre" placeholder="Nombre" required >
                    <span *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)" > Campo <strong>Nombre</strong> obligatorio</span>
                  </div>
                </div>
                <div class="control-group form-group">
                  <div class="controls">
                    
                    <input type="text" class="form-control" #apellidos="ngModel" name= "a[ellidos" [(ngModel)]="usuario.apellidos" placeholder="Apellidos" required>
                    <span *ngIf="!apellidos.valid && apellidos.touched" > Campo <strong>Apellidos</strong> obligatorio</span>
                  </div>
                </div>               
                <div class="control-group form-group">
                  <div class="controls">
                      <span *ngIf="!departamento.valid && departamento.touched" > Campo <strong>Departamento</strong> obligatorio</span>
                    <select #departamento="ngModel" name= "departamento" [(ngModel)]="usuario.departamento" placeholder="Dea" class="selectpicker" style="width: 100%;padding: .5rem .75rem;" required>
                            <!-- <option> <p style="color: #868eb1">Departamento</p> </option> -->
                            <option>Recursos Humanos</option>
                            <option>Administración</option>
                            <option>Tenologías de la Información</option>
                          </select>
                  </div>  
                </div>
                <div class="control-group form-group">
                    <div class="controls">
                      <input type="password" class="form-control" #contrasena="ngModel" name= "contrasena" [(ngModel)]="usuario.contrasena" placeholder="Contraseña"  (focusout)="validarContrasena()" required>
                      <span *ngIf="!contrasena.valid && contrasena.touched" > Campo <strong>Contraseña</strong> obligatorio</span>
                    </div>
                  </div>

                    <div class="control-group form-group">
                      <div class="controls">
                        <input type="password" class="form-control"  #confirmar="ngModel" name= "confirmar" [(ngModel)]="confirmaContra"  required>
                        <span *ngIf="!confirmar.valid && confirmar.touched" > Campo <strong>Confirmar Contraseña</strong> obligatorio</span>
                      </div>
                    </div>  
                    <div class="form-check">
                        <label class="form-check-label">
                          <input type="checkbox" class="form-check-input">
                          Recordarme
                        </label>
                      </div>
                
                <button type="submit" [disabled]="!registreUser.form.valid" class="btn btn-defaul btn-modal-suc">Continuar</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
       
        <!-- <button type="button" class="btn btn-secondary"  style="background: #f00a0a;" (click)="salir()">Salir</button>         -->
      </div>
    </div>
  </div>
</div>