.intro-message{
  top:30%;background-color: transparent;position: absolute;z-index: 3000; text-align:center;
}
.intro-divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }
  .btnIndex {
      color : #ffcf01;
      background-color: #0082c8;
       min-width: 15%; 
      transition: all 0.8s;
      
  }
  
  .btnIndex:hover {
      color:#0082c8;
      background-color: #ffcf01;
      
  }
  
  .logoMenu {
    margin-left: 2px;
  }
  #app-title{
    color: #fff;
    font-size: 5rem;
  }

  #app-title:hover{
    color: #ffcf01;
  }
  .btn:hover{
    cursor: pointer;
  
  }
  img {
    /* opacity: 0.6;
    filter: alpha(opacity=50);  */
}

.btn-modal-suc{color: #0082c8}
.btn-modal-suc:hover{
    background: #218838;
    color: #ffffff;
    cursor: pointer;
}

.btn-modal-can{
    color: #0082c8
}
.btn-modal-can:hover{
    background: orangered;
    color: #ffffff;
    cursor: pointer;
}

  @media only screen and (max-width: 980px) and (min-width: 821px) {  
    
  }  
    
  /* Para 800px */  
  @media only screen and (max-width: 820px) and (min-width: 621px) {  
      #app-title{
        font-size: 3rem;
      }
      #app-subtitle{
        font-size: 2rem;
      
      }
      .intro-message{
        /* top:10%;background-color: transparent;position: absolute;z-index: 3000; text-align:center; */
        top:40%;background-color:transparent;
        font-size: 0.1rem;
      } 
      .btnIndex {
        color :#ffcf01;
        background-color: #0082c8;
        width: 150px; 
        transition: all 0.8s;
      font-size: 1.1rem;
      min-height: 20px;
    margin-left: 4px;
        
    }
    .intro-divider {
      width: 350px;
      border-top: 1px solid #f8f8f8;
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    }
  }  
  /* Para 600px */  
  @media only screen and (max-width: 620px) and (min-width: 501px) {  
      #app-title{
        font-size: 2.5rem;
      }
      #app-subtitle{
        font-size: 1.5rem;
      
      }
      .intro-message{
        /* top:10%;background-color: transparent;position: absolute;z-index: 3000; text-align:center; */
        top:40%;background-color:transparent;
        font-size: 0.1rem;
      } 
      .btnIndex {
        color :#ffcf01;
        background-color: #0082c8;
        width: 150px; 
        transition: all 0.8s;
      font-size: 1rem;
      min-height: 20px;
    margin-left: 4px;
        
    }
    .intro-divider {
      width: 350px;
      border-top: 1px solid #f8f8f8;
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    }

  }  
  /* Para 480px */  
  @media only screen and (max-width: 500px) and (min-width: 341px) {  
      #app-title{
        font-size: 2.5rem;
      }
      #app-subtitle{
        font-size: 1.5rem;
      
      }
      .intro-message{
        /* top:10%;background-color: transparent;position: absolute;z-index: 3000; text-align:center; */
        top:40%;background-color:transparent;
        font-size: 0.1rem;
      } 
      .btnIndex {
        color :#ffcf01;
        background-color: #0082c8;
        width: 150px; 
        transition: all 0.8s;
      font-size: 1rem;
      min-height: 20px;
    margin-left: 4px;
        
    }
    .intro-divider {
      width: 350px;
      border-top: 1px solid #f8f8f8;
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    }
        
  }  
    
  /* Para 320px */  
  @media only screen and (max-width: 340px) and (min-width: 5px)  { 
        #app-title{
          font-size: 2.5rem;
        }
        #app-subtitle{
          font-size: 1.5rem;
        
        }
        .intro-message{
          /* top:10%;background-color: transparent;position: absolute;z-index: 3000; text-align:center; */
          top:40%;background-color:transparent;
          font-size: 0.1rem;
        } 
        .btnIndex {
          color : #ffcf01;
          background-color: #0082c8;
          width: 100px; 
          transition: all 0.8s;
        font-size: 0.8rem;
        min-height: 15px;
       margin-left: 2px;
          
      }
      .intro-divider {
        width: 200px;
        border-top: 1px solid #f8f8f8;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
      }
        
  }  

@import url(https://fonts.googleapis.com/css?family=Istok+Web);
@keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }
}
* {
  box-sizing: border-box;
}
body, figure { 
  margin: 0; background: #101010;
  font-family: Istok Web, sans-serif;
  font-weight: 100;
}
div#captioned-gallery { 
  width: 100%; overflow: hidden; 
}
figure.slider { 
  position: relative; width: 500%;
  font-size: 0; animation: 20s slidy infinite; 
}
figure.slider figure { 
  width: 20%; height: auto;
  display: inline-block;  position: inherit; 
}
figure.slider img { width: 100%; height: auto; }
figure.slider figure figcaption { 
  position: absolute; bottom: 0;
  background: rgba(0,0,0,0.4);
  color: #fff; width: 100%;
  font-size: 2rem; padding: .6rem; 
 
}
figure.slider[_ngcontent-c1] img[_ngcontent-c1] {
  width: 100%;
  height: 100vh;
}


/* color en input para validadciones*/
.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}

small{
  color: #a94442;
}
#btnLogin[disabled]{
  background: #888;
  cursor:not-allowed;
}
#btnRegister[disabled]{
  background: #888;
  cursor:not-allowed;
}
#linkRegister{
  color:#0056b3;
  cursor: pointer;
}
/*input.ng-invalid {
  background-color: pink;
}
input.ng-valid {
  background-color: lightgreen;
}*/