<header>
  <base href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/">
  <div id="captioned-gallery" *ngIf='!isSolicitudSala && !isRegister'>
    <figure class="slider">
      <figure style="height: 100vh; background: transparent">
        <img src="assets/img/image02.jpg" alt>
        <!-- <figcaption>Hobbiton, New Zealand</figcaption> -->
      </figure>
      <figure>
        <img src="assets/img/image03.jpg" alt>
      </figure>
      <figure>
        <img src="assets/img/image04.jpg" alt>
      </figure>
      <figure>
        <img src="assets/img/image05.jpg" alt>
      </figure>
      <figure>
        <img src="assets/img/image02.jpg" alt>
      </figure>
    </figure>
  </div>
</header>
<div class="container-fluid intro-message" *ngIf='!isSolicitudSala && !isRegister &&mmostrar'>
  <h1 id="app-title" class="animated  wow bounceInDown" data-wow-duration="2s" data-wow-delay="0.5s">SAVE</h1>
  <h3 id="app-subtitle" style="color: #fff;" class="animated wow bounceInLeft" data-wow-duration="2s" data-wow-delay="0.5s">Sistema de Control de Salas y Vehiculos</h3>
  <hr class="intro-divider" style="background-color: #fff">
  <div class="carousel-fixed-item center">
    <div class="row-fluid">
      <div class="col-md-12">
        <a routerLink="/solicitudSala" routerLinkActive="actived" class=" btn btnIndex animated  wow jackInTheBox" data-wow-duration="1s"
          (click)="solicitarSala(true)"><i class="fa fa-users" aria-hidden="true"></i>&nbsp;Salas</a>
        <a routerLink="/solicitudSala" class=" btn btnIndex animated  wow jackInTheBox" data-wow-duration="1s"> <i class="fa fa-car" aria-hidden="true"></i>&nbsp;Vehiculos</a>
      </div>
    </div>
  </div>
</div>

<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap">Open modal for @getbootstrap</button> -->
<!-- Modal  Register-->
<div class="modal fade bd-example-modal-sm " id="registroUsuarioModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog bd-example-modal-sm " role="document">
    <div class="modal-content">
      <div class="modal-header" style="background: #0069d9;color:#fff">
        <h5 class="modal-title" id="exampleModalLabel"><i class="fa fa-user-circle-o"></i>&nbsp;&nbsp;Registrarse</h5>
        <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="salir()"> 
            <span aria-hidden="true">&times;</span>
          </button>-->
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <ol class="breadcrumb">
              <li>
                <a><img src="assets/img/logo.png" ></a>
              </li>
            </ol>
          </div>
        </div>
        <!-- END BREADCRUMB-->
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-12">

              <form #registerForm="ngForm" (ngSubmit)="registrarUsuario()">
                <div class="control-group form-group">
                  <div class="controls">
                    <div class="row" style="margin-left:0em;margin-right:0em">
                    <input type="text" #correo="ngModel" name="correo" class="form-control col-md-4  " (input)="change($event)" [(ngModel)]="usuario.correo" 
                    placeholder="usuario" autofocus (focusout)="validarCorreo()" (focus)="onfocusCorreo()" 
                    required >
                    <input type="text" #correoLabel="ngModel" name="correoLabel" class="form-control col-md-8  " [(ngModel)]="dominio" 
                    placeholder="" disabled 
                    required  [email]="true">
                      <!-- <label class="col-md-6" > @coopesparta.fi.cr</label> [email]="true"-->
                    </div>
                    <small *ngIf="correo.touched && correo.value==''"> <i class="fa fa-exclamation-circle" aria-hidden="true"></i> El correo es obligatorio. </small>
                     <!-- <small *ngIf="!correo.valid && correo.value!null"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> Formato de correo inválido.</small>                      -->
                    <small *ngIf="userExist"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> Ya existe una cuenta con ese correo</small>  
                  </div>
                </div>
                <div class="control-group form-group">
                  <div class="controls">
                    <input type="text" class="form-control" #nombre="ngModel" name="nombre" [(ngModel)]="usuario.nombre" placeholder="Nombre"
                      required>
                      <small [hidden]="nombre.valid || (nombre.pristine && !registerForm.submitted)">
                          <i class="fa fa-exclamation-circle" aria-hidden="true"></i> El nombre es obligatorio
                      </small>
                  </div>
                </div>

                <div class="control-group form-group">
                  <div class="controls">

                    <input type="text" class="form-control" #apellidos="ngModel" name="apellidos" [(ngModel)]="usuario.apellidos" placeholder="Apellidos"
                      required maxlength="60">
                      <small [hidden]="apellidos.valid || (apellidos.pristine && !registerForm.submitted)">
                          <i class="fa fa-exclamation-circle" aria-hidden="true"></i> Los apellidos son obligatorios
                      </small>
                  </div>
                </div>

                <div class="control-group form-group">
                  <div class="controls">
                    <select #departamento="ngModel" name="departamento" [(ngModel)]="usuario.departamento" class="selectpicker" style="width: 100%;padding: .5rem .75rem;"
                      required >  
                      <option value="" selected disabled >Departamento</option>
                          <option>Recursos Humanos</option>
                          <option>Administración</option>
                          <option>Tenologías de la Información</option>
                        </select>
                        <small [hidden]="departamento.valid || (departamento.pristine && !registerForm.submitted)">
                            <i class="fa fa-exclamation-circle" aria-hidden="true"></i> El departamento es  obligatorio
                        </small>

                  </div>
                </div>
                <div class="control-group form-group">
                  <div class="controls">
                    <input type="password" class="form-control" #contrasena="ngModel" name="contrasena"
                     [(ngModel)]="usuario.contrasena" placeholder="Contraseña - min 8 caracteres"
                      required minlength="8" (input)="validarcontra($event)">
                      <small [hidden]="contrasena.valid || (contrasena.pristine && !registerForm.submitted)">
                          <i class="fa fa-exclamation-circle" aria-hidden="true"></i> 
                          Contraseña obligatoria
                      </small>
                      <!-- <small [hidden]="7==9">
                          <i class="fa fa-exclamation-circle" aria-hidden="true"></i> 
                          Debe contener Mayusculas . <br>
                          Debe contener Minusculas . <br>
                          Debe contener numeros y caracteres especiales.
                      </small> -->
                  </div>
                </div>

                <div class="control-group form-group">
                  <div class="controls">
                    <input type="password" class="form-control" #confirmar="ngModel" name="confirmar" [(ngModel)]="confirmaContra" placeholder="Confirmar Contraseña"
                      required minlength="8" validateEqual="contrasena">                  
                    <small [hidden]="confirmar.valid || (confirmar.pristine && !registerForm.submitted) ">
                        <i class="fa fa-exclamation-circle" aria-hidden="true"></i> Las contraseñas no coinciden
                    </small>
                  </div>
                </div>
                <button type="button"  style="float:left" class="btn btn-defaul btn-modal-suc"  (click)="loginBack()">Ya poseo una cuenta</button>                
                <button id="btnRegister" type="submit" style="float:right"
                 [disabled]="!correo.valid || !nombre.valid || !apellidos.valid  ||  !departamento.valid || !contrasena.valid  || !confirmar.valid || userExist"
                  class="btn btn-success">Continuar</button>
              </form>
              
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">

        <!-- <button type="button" class="btn btn-secondary"  style="background: #f00a0a;" (click)="salir()">Salir</button>         -->
      </div>
    </div>
  </div>
</div>

<!-- Modal  Login-->
<div  class="modal fade bd-example-modal-sm " id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true">
<div class="modal-dialog bd-example-modal-sm " role="document">
  <div class="modal-content">
    <div class="modal-header" style="background: #0069d9;color:#fff">
      <h5 class="modal-title" id="exampleModalLabel"><i class="fa fa-lock"></i>&nbsp;&nbsp;Indentificate</h5>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-12">
          <ol class="breadcrumb">
            <li>
              <a><img src="assets/img/logo.png" ></a>
            </li>
          </ol>
        </div>
      </div>
      <!-- END BREADCRUMB-->
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-12">

            <form #loginForm="ngForm" (ngSubmit)="login()"> <!--(focusout)="validarCorreo()"  autofocus  (focus)="onfocusCorreo()"-->
              <div class="control-group form-group">
                <div class="controls">
                  <input type="email" #correoLogin="ngModel" name="correoLogin" class="form-control"
                   [(ngModel)]="usuario.correo" placeholder="usuario@coopesparta.fi.cr" required >
                     <small [hidden]="correoLogin.valid || (correoLogin.pristine && !loginForm.submitted)">
                      <i class="fa fa-exclamation-circle" aria-hidden="true"></i> Correo requerida
                  </small>
                  <!-- <small *ngIf="correo.touched && correo.value==''"> <i class="fa fa-exclamation-circle" aria-hidden="true"></i> El correo es obligatorio. </small>
                   <small *ngIf="!correo.valid && correo.value!null"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> Formato de correo inválido.</small>                      -->
                </div>
              </div>

              <div class="control-group form-group">
                <div class="controls">
                  <input type="password" class="form-control" #contrasenaLogin="ngModel" name="contrasenaLogin" [(ngModel)]="usuario.contrasena" placeholder="Contraseña"
                    required (focus)="onfocusCorreo()" >
                    <small [hidden]="contrasenaLogin.valid || (contrasenaLogin.pristine && !loginForm.submitted)">
                        <i class="fa fa-exclamation-circle" aria-hidden="true"></i> Contraseña requerida
                    </small>
                </div>
              </div>
              <div class="form-check">
                <label class="form-check-label">
                <input type="checkbox" class="form-check-input"  #recordar="ngModel" name="recordar" [ngModel]="recordarme" (change)="rememberChangeValue()" >
                    Recordarme
                  </label>
              </div>
              <small *ngIf="verError">
                  <i class="fa fa-ban" aria-hidden="true"></i>  {{mensajeError}} <br>
              </small>
              <br>
              <button  id="btnLogin" style="width: 100%" type="submit" [disabled]="!loginForm.valid " class="btn btn-success">Ingresar</button>
              <br> <br> 
              
            </form>
            <div class="col-md-12" style="text-align:center">
                <a  id="linkRegister" routerLinkActive="actived" (click)="mostrarRegistrarse()"><i class="fa fa-key" aria-hidden="true"></i> Crear un cuenta</a>                  
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="modal-footer" style="text-align:center">
        <p>&copy; Coopesparta R.L.</p>
       <button type="button" class="btn btn-secondary"  style="background: #f00a0a;" (click)="salir()">Salir</button>         
    </div> -->
  </div>
</div>
</div>