<div class="container-fluid" style="margin-top: 8%; padding: 0 10% 0 10%">

  <div class="row" style="text-align: center">
    <div class="col-md-12">
      <h2> Admistración de Recursos</h2>
      <hr>
      <button class="btn btn-primary" data-toggle="modal" data-target="#adminModalRecurso" style="float: left;margin-bottom: 6px"> <i class="fa fa-plus" aria-hidden="true"></i></button>      
    </div>
  </div>

  <div class="col-md-12">
    <div class="row" style="text-align: center">
      <table class="table">
        <thead class="thead-default">
          <tr>
            <th class="th-color">#</th>
            <th class="th-color">Nombre</th>
            <th class="th-color">Código de Activo</th>
            <th class="th-color">Descripción</th>
            <th class="th-color">Estado</th>
            <th class="th-color" style="text-align: center">Acciones</th>
          </tr>
        </thead>
        <tbody style="font-family: 'Times New Roman', Times, serif">
          <tr>
            <th scope="row">1</th>
            <th>Mark</th>
            <th>Otto</th>
            <th>@mdo</th>
            <th>Otto</th>
            <th style="text-align: center">
              <button class="btn btn-primary btn-accion"><i class="fa fa-pencil" aria-hidden="true"></i> </button>
              <button class="btn btn-danger btn-accion" data-toggle="modal" data-target="#modal-delete"><i class="fa fa-trash-o" aria-hidden="true"></i> </button>
            </th>
          </tr>
          <tr>
            <th scope="row">2</th>
            <th>Jacob</th>
            <th>Thornton</th>
            <th>@fat</th>
            <th>Thornton</th>
            <th style="text-align: center">
              <button class="btn btn-primary btn-accion"><i class="fa fa-pencil" aria-hidden="true"></i> </button>
              <button class="btn btn-danger btn-accion" data-toggle="modal" data-target="#modal-delete"><i class="fa fa-trash-o" aria-hidden="true"></i> </button>
            </th>
          </tr>
          <tr>
            <th scope="row">2</th>
            <th>Jacob</th>
            <th>Thornton</th>
            <th>@fat</th>
            <th>Thornton</th>
            <th style="text-align: center">
              <button class="btn btn-primary btn-accion"><i class="fa fa-pencil" aria-hidden="true"></i> </button>
              <button class="btn btn-danger btn-accion" data-toggle="modal" data-target="#modal-delete"><i class="fa fa-trash-o" aria-hidden="true"></i> </button>
            </th>
          </tr>
          <tr>
            <th scope="row">2</th>
            <th>Jacob</th>
            <th>Thornton</th>
            <th>@fat</th>
            <th>Thornton</th>
            <th style="text-align: center">
              <button class="btn btn-primary btn-accion"><i class="fa fa-pencil" aria-hidden="true"></i> </button>
              <button class="btn btn-danger btn-accion" data-toggle="modal" data-target="#modal-delete"><i class="fa fa-trash-o" aria-hidden="true"></i> </button>
            </th>
          </tr>
          <tr>
            <th scope="row">2</th>
            <th>Jacob</th>
            <th>Thornton</th>
            <th>@fat</th>
            <th>Thornton</th>
            <th style="text-align: center">
              <button class="btn btn-primary btn-accion"><i class="fa fa-pencil" aria-hidden="true"></i> </button>
              <button class="btn btn-danger btn-accion" data-toggle="modal" data-target="#modal-delete"><i class="fa fa-trash-o" aria-hidden="true"></i> </button>
            </th>
          </tr>
          <tr>
            <th scope="row">2</th>
            <th>Jacob</th>
            <th>Thornton</th>
            <th>@fat</th>
            <th>Thornton</th>
            <th style="text-align: center">
              <button class="btn btn-primary btn-accion"><i class="fa fa-pencil" aria-hidden="true"></i> </button>
              <button class="btn btn-danger btn-accion" data-toggle="modal" data-target="#modal-delete"><i class="fa fa-trash-o" aria-hidden="true"></i> </button>
            </th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- paginador-->
  <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Previous">
            <small aria-hidden="true">&laquo;</small>
            <small class="sr-only">Previous</small>
          </a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Next">
            <small aria-hidden="true">&raquo;</small>
            <small class="sr-only">Next</small>
          </a>
        </li>
      </ul>
    </nav>
</div>
<!-- Modal  eliminar recurso-->
<div class="modal fade" id="modal-delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header" style="color: #FFF;background: #0069d9">
          <h5 class="modal-title" id="exampleModalLabel">Eliminar Recurso</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <small aria-hidden="true">&times;</small>
            </button>
        </div>
        <div class="moda
        l-body" style="text-align: center">
          <small >
            <i class="fa fa-trash fa-5x" aria-hidden="true" style="color:red"></i> 
          </small>
          <br><br>
          <h5>Está seguro que desea eliminar el recurso? </h5>
          <br>
          <button type="button" class="btn btn-default btn-modal-can" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-default btn-modal-suc" data-dismiss="modal">Confirmar</button>
        <br>
        </div>
      </div>
    </div>
  </div>

  <!-- Seccion del Modal: Agregar nuevo Recurso-->
<div class="modal fade bd-example-modal-sm " id="adminModalRecurso" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true">
<div class="modal-dialog bd-example-modal-sm " role="document">
  <div class="modal-content">
    <div class="modal-header" style="background: #0069d9;color:#fff">
      <h5 class="modal-title" id="exampleModalLabel"><i class="fa fa-users" aria-hidden="true"></i>&nbsp;&nbsp;Agregar Recurso</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="salir()"> 
        <small aria-hidden="true">&times;</small>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-12">
          <ol class="breadcrumb">
            <li>
              <a><img src="assets/img/logo.png" ></a>
            </li>
          </ol>
        </div>
      </div>
      <!-- END BREADCRUMB-->
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-12">
            <form #adminRecurso="ngForm" (ngSubmit)="agregarRecurso()">
              <div class="control-group form-group">
                <div class="controls">
                  <input type="text" class="form-control" #nombre="ngModel" name= "nombre" [(ngModel)]="recursos.nombre" placeholder="Nombre" required >
                  <small *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)" ><i class="fa fa-exclamation-circle" aria-hidden="true"></i> Campo <strong>Nombre</strong> obligatorio</small>
                  <p class="help-block"></p>
                </div>
              </div>
              <div class="control-group form-group">
                <div class="controls">
                  <input type="text" class="form-control" #codigoActivo="ngModel" name= "codigoActivo" [(ngModel)]="recursos.codigoActivo"placeholder="Código de Activo" required (focusout)="validarRecurso()" (focus)="onfocusRecurso()">
                  <small *ngIf="codigoActivo.invalid && (codigoActivo.dirty || codigoActivo.touched)" > Campo <strong>Codigo de Activo</strong> obligatorio</small>
                  <small *ngIf="codRecursosExist"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> Ya existe un Recurso con ese Código</small> 
                  <p class="help-block"></p>
                </div>
              </div>
              <div class="control-group form-group">
                <div class="controls">
                  <textarea class="form-control"#descripcion="ngModel" name= "descripcion" [(ngModel)]="recursos.descripcion"placeholder="Descripción" rows="3" required></textarea>
                  <small *ngIf="descripcion.invalid && (descripcion.dirty || descripcion.touched)"> <i class="fa fa-exclamation-circle" aria-hidden="true"></i>  Campo <strong>Descripción</strong> obligatorio</small>
                  <p class="help-block"></p>
                </div>
              </div>
              <div class="control-group form-group">
                <div class="controls">
                  <ul>
                    <li style="margin-left: -37px;"> <label class="switch">
                        <input type="checkbox" checked>
                        <small class="slider round"></small>
                      </label>
                    </li>
                    <li>
                      <label style="float: left;margin-top: -2.3em;">Habilitado</label>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="control-group form-group">
                <div class="controls">
                  <div class="controls">
                    <textarea class="form-control" #report="ngModel" name= "report" [(ngModel)]="recursos.reporte" placeholder="Reporte algún problema del activo" rows="3"></textarea>
                    <p class="help-block"></p>
                  </div>
                </div>
              </div>
              <div id="success"></div>
              <div style="float: right">
                  <button type="button" class="btn btn-default btn-modal-can" data-dismiss="modal" (click)="salir()">Salir</button>   
                  <button type="submit" [disabled]="!adminRecurso.form.valid" class="btn btn-default btn-modal-suc" >Confirmar</button>
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      
    </div>
  </div>
</div>
</div>

